[2021-06-27 04:31] arpit456jain opened #1 "make separate css files"

[2021-06-27 05:19] #1 closed

[2021-06-27 05:20] arpit456jain opened #3 "Add github bot for greeting"

[2021-06-27 05:20] arpit456jain opened #4 "Make Exiting Templates Responsive for all screens"

[2021-06-27 05:23] arpit456jain opened #5 "Make a gif or video for showing a demo of some templates"

[2021-06-27 08:43] arpit456jain opened #6 "improve read me"

[2021-06-27 15:37] arpit456jain opened #9 "add license in read me"

[2021-06-27 15:37] arpit456jain opened #10 "Add contributing guidlines.md"

[2021-06-28 10:26] arpit456jain opened #11 "Add code of conduct"

[2021-06-29 05:08] ankitapuri commented on #9
I will add it

[2021-06-29 05:19] #9 closed

[2021-06-29 05:25] rohan-kulkarni-25 opened #13 "Creating Preview of Css files"
We can have file `index.html` and we can link all css to that file and everyone can check it quickly

[2021-06-29 05:26] rohan-kulkarni-25 opened #14 "Template Addition"
Adding Issues and Pr templates

[2021-06-29 05:29] arpit456jain commented on #14
yeah sure @rohan-kulkarni-25 i was going to create a issue for this

[2021-06-29 05:30] arpit456jain commented on #13
ok @rohan-kulkarni-25 good idea :)

[2021-06-29 05:32] ankitapuri commented on #6
What specific improvements you want ?

[2021-06-29 05:33] ankitapuri commented on #11
I will create a PR for this

[2021-06-29 05:38] arpit456jain commented on #6
Actually its looking dull so i want if you could make it better ,
Add a good description of Project ,
or anything you like
eg project structure
eg making steps concise , they are very long and boring to read

[2021-06-29 05:38] arpit456jain commented on #11
ok @ankitapuri

[2021-06-29 12:03] rohan-kulkarni-25 commented on #13
Ok, will make it done !! I was planning to create an index.html file in root and link all the css in form of card and view that view will attached to the respective design HTML file !! Will that be ok ??

[2021-06-29 12:19] #14 closed

[2021-06-29 12:23] arpit456jain commented on #13
yeah sure @rohan-kulkarni-25 go ahead
and have a look on this too,
https://github.com/arpit456jain/Cool-Front-End_Templates

[2021-06-29 13:15] #11 closed

[2021-06-29 19:00] ankitapuri commented on #6
For proper project structuring all the effects must be in one folder , being in different folders its difficult to categorize them

[2021-06-30 03:35] srisatya1197 commented on #10
Can I work on this issue?

[2021-06-30 03:41] arpit456jain commented on #6
hey @ankitapuri leave the project structure for nor can you add this discord link in read me
https://discord.gg/ZxTZGCUE

[2021-06-30 03:45] arpit456jain commented on #10
ok @srisatya1197 sure just make a seprate file Conributing_guidline.md and add a link to this file in read me

[2021-06-30 03:55] ankitapuri commented on #6
Okay! Will do it

[2021-06-30 05:13] #6 closed

[2021-06-30 07:45] ankitapuri commented on #5
Where will u add the demo gifs ?

[2021-06-30 07:51] arpit456jain commented on #5
In read me
Could you make a gif like having some animation like one template fade then 2nd show up then 3rd one

[2021-06-30 07:55] ankitapuri commented on #5
Ok will try but not sure .

[2021-06-30 08:31] arpit456jain commented on #5
Ok no problem try it if you need any help contact me on discord link is in the read me :)

[2021-06-30 10:22] #13 closed

[2021-06-30 11:24] rohan-kulkarni-25 opened #21 "LOGO FOR PROJECT"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

We need one logo for the project that should be attractive and unique. I will not able to do this might be @ankitapuri or someone in designing can help in this

[2021-06-30 11:24] rohan-kulkarni-25 commented on #21
@ankitapuri @arpit456jain  Please have a look !

[2021-06-30 11:27] arpit456jain commented on #21
yeah @rohan-kulkarni-25 good idea 🙌🎉

[2021-06-30 11:34] ankitapuri commented on #21
okay! I will try it once @rohan-kulkarni-25 and @arpit456jain

[2021-06-30 13:33] ankitapuri commented on #21
@rohan-kulkarni-25 where will we add the logo btw

[2021-06-30 17:10] srisatya1197 commented on #10
@arpit456jain ok sure.

[2021-07-01 14:33] neha030 opened #22 "Social media Icons Template"
I want to add Social media icons template with transition .
Please assign me this issue

[2021-07-01 16:00] arpit456jain commented on #22
ok @neha030
I would like to clear a point this repo is not registered in any program
if you  still want to contribute then please let me know

[2021-07-01 18:45] #3 closed

[2021-07-01 18:53] arpit456jain opened #24 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-01 18:53] #24 closed

[2021-07-01 18:54] arpit456jain opened #25 "Add a note in bot msg that "This repo is no registered under any program""
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-01 19:00] arpit4567jain opened #26 "add bot greeting on PR merged successfully with msg "Thank you @name for your valuable contribution ""
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-01 19:15] ankitapuri commented on #21
@arpit456jain we can add logo on the index.html page ?

[2021-07-01 19:17] arpit456jain commented on #21
ok @ankitapuri try it when you are free :)

[2021-07-02 06:18] neha030 commented on #22
Yes , I still want to contribute

[2021-07-02 06:21] arpit456jain commented on #22
Ok @neha030 go ahead

[2021-07-02 12:20] #21 closed

[2021-07-02 12:30] ankitapuri opened #28 "Add logo in the index.html"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 13:49] arpit456jain opened #29 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 13:51] #29 closed

[2021-07-02 13:52] arpit456jain opened #30 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 13:53] #30 closed

[2021-07-02 13:54] arpit456jain opened #31 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-02 14:07] #31 closed

[2021-07-02 15:29] #22 closed

[2021-07-03 11:35] ankitapuri commented on #26
This is done if you can confirm @arpit456jain

[2021-07-03 11:57] arpit456jain commented on #26
Actually @ankitapuri i had configured it but there is no PR merged after that.
I will let you know soon

[2021-07-04 06:43] ankitapuri commented on #28
![image](https://user-images.githubusercontent.com/54734002/124375681-1390fd00-dcc1-11eb-8cd2-8f73102f17f1.png)

It will look like this

[2021-07-04 07:13] arpit4567jain commented on #28
Hey @ankitapuri its good but do one thing make navbar colour dark so that logo fits perfectly.
Make navbar background same as of logo background

[2021-07-04 08:29] ankitapuri commented on #28
Sure will do that @arpit4567jain

[2021-07-04 08:42] ankitapuri commented on #28
![image](https://user-images.githubusercontent.com/54734002/124378922-c701ed80-dcd1-11eb-948b-b8602f94c2e3.png)

how about this now

[2021-07-04 09:19] arpit4567jain commented on #28
Cool @ankitapuri just make the colour of heading white.
 Rest all is fine

[2021-07-04 11:36] #28 closed

[2021-07-04 11:36] #26 closed

[2021-07-04 11:54] ankitapuri commented on #25
Will work on this .
Also shall I delete the `config.yml` for the welcome bot ?

[2021-07-04 12:37] arpit4567jain commented on #25
sure @ankitapuri

[2021-07-05 09:36] arpit456jain opened #34 "Make home page responsive specially navbar"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-06 06:19] ankitapuri commented on #5
![ezgif com-gif-maker](https://user-images.githubusercontent.com/54734002/124551676-24bc4400-de50-11eb-8e94-d59c352ef644.gif)

[2021-07-06 06:37] arpit456jain commented on #5
its amazing @ankitapuri  🎉🎉

[2021-07-06 06:37] #34 closed

[2021-07-06 07:12] #5 closed

[2021-07-07 04:25] #25 closed

[2021-07-07 04:26] arpit456jain opened #40 "Testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-07 04:26] #40 closed

[2021-07-07 07:07] kiruba-r11 opened #41 "Rainbow strips on button hover"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**
- The feature is to add a Button that on hover fills the button with rainbow stripes. The stripes enter the button diagonally.

## **Screenshots**
![rainbow-button](https://user-images.githubusercontent.com/76843281/124714970-0d4c8c00-df20-11eb-998a-12f1192e8f44.gif)

[2021-07-07 07:18] arpit456jain commented on #41
Sure @kiruba-r11 make a new folder and add this
And don't forget to add link in json file

[2021-07-07 07:47] #41 closed

[2021-07-07 08:06] kiruba-r11 opened #43 "Loading Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- The feature is to add a loading animation.

## **Screenshots**
![loading](https://user-images.githubusercontent.com/76843281/124722965-2fe2a300-df28-11eb-918a-cb93858491cc.gif)

[2021-07-07 08:55] arpit456jain commented on #43
Sure @kiruba-r11
Don't forget to give this repo a star 🌟

[2021-07-07 12:19] #43 closed

[2021-07-08 11:32] neha030 opened #45 "Pre Loading animation"
I want to add a pre loading animation

![animation](https://user-images.githubusercontent.com/72595335/124914681-42cfa300-e00e-11eb-8234-8c95b51ead5a.gif)

[2021-07-08 11:54] arpit456jain commented on #45
@neha030
yes  you can work on this but please make PR after 15 July since this repo is being used in an event
Wield The Web under CES-MMMUT
or
you can particpate in this event and make PR .
For more information please join our CES Community
https://discord.gg/FVPvDUXfRR

[2021-07-08 13:02] neha030 commented on #45
I want to participate but I have missed round 1 , if there is no issue then I will participate in round 2
otherwise will make a PR after 15

If I can participate do I have to fill any form , as I didn't found it on the server.

[2021-07-08 13:10] arpit456jain commented on #45
Yes @neha030 you can still participate
Do one thing raise this query in gernal may be anyone is having same doubt

[2021-07-08 13:11] arpit456jain commented on #45
Will provide the registration form on discord 🙌🤗

[2021-07-10 17:13] #45 closed

[2021-07-11 18:20] connectnitesh opened #47 "Nitesh Rawat"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-12 17:15] neha030 opened #49 "Neuromorphic Calculator"
I want to add a neuromorphic calculator made using html CSS and javascript

[2021-07-12 17:29] arpit456jain commented on #49
Hey @neha030 are you a contributor in dcp21?
If yes then please wait for 2 days i am adding this repo in dcp21 so will get points for this.

Otherwise you can make PR anytime

[2021-07-12 17:38] neha030 commented on #49
Yes I am DCP'21 contributor
Surely will wait for your repo to be added and then make a PR

Excited for more such valuable contribution😃

[2021-07-12 19:46] DeepanjaliVyas opened #51 "Deepanjali Vyas"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 04:06] #51 closed

[2021-07-13 04:12] #47 closed

[2021-07-13 11:22] naveen1nk opened #54 "Naveen kushwaha"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 14:19] #54 closed

[2021-07-13 15:19] Dhruv-194 opened #56 "Create a github pages website for this repository"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the feature**
Well I was thinking that a GitHub pages hosted website to show all the amazing CSS effects for this repository would be a great addition.

[2021-07-13 15:49] ushmita4 opened #57 "I wish glow a bulb using JS."
I wish to glow a bulb using Javascript basics.

[2021-07-13 15:51] ushmita4 opened #58 "Moving Picture Effect"
I wish to add a moving picture effect.

[2021-07-13 16:02] siddhi-244 opened #59 "Bubble navbar animation in html,css,js"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the bug**

- It is a new feature.

## **Possible solution**

- I would like to add this project

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
-
![Bubble-Navbar](https://user-images.githubusercontent.com/69195262/125485912-71e942e5-6ad1-4b1a-a213-be5bb185a613.gif)

[2021-07-13 16:02] siddhi-244 commented on #59
Please assign me this under dcp

[2021-07-13 16:10] aishwaryas15 opened #60 "CSS Glowing Gradient Loader Ring"

[2021-07-13 16:23] KeerthanaPravallika opened #61 "Neomorphic login page"
I want to add a neomorphic login page under the DevIncept program. Can you please assign me this issue under DCP 21

[2021-07-13 16:31] KeerthanaPravallika opened #62 "Glassmorphic Signup page"
I want to add glassmorphic sign-up under the DevIncept program. Can you please assign me this issue under DCP 21

[2021-07-13 16:56] shivaprasadyanala commented on #62
please assign this issue to me.

[2021-07-13 17:05] shruti0902 opened #63 "Shruti Singh"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 17:19] shruti0902 opened #64 "Shruti Singh"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 17:23] himanshud959 opened #65 "Himanshu Dubey"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 17:40] #65 closed

[2021-07-13 18:13] Shubh14Jain opened #68 "Vertical Own Project Timeline With CSS and a Touch of JavaScript"
I would like to contribute in Amazing-CSS-Effects
Person can add this **timeline** view in our Portfolio for adding the **projects in portfolio**, When we scroll down I add animation effect projects details come from left and right side of **browser.**

![Screenshot_2](https://user-images.githubusercontent.com/33178665/125502906-c40a247c-5709-4fc0-9f9f-35fa895113fb.jpg)

[2021-07-13 18:37] vishnupratap3790 opened #69 "Vishnu"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 18:37] #64 closed

[2021-07-13 18:38] #63 closed

[2021-07-13 18:54] #69 closed

[2021-07-13 19:08] arpit456jain commented on #57
hey @ushmita4 kindly create this issue on https://github.com/arpit456jain/Amazing-Js-Projects

[2021-07-13 19:08] arpit456jain commented on #68
ok @Shubh14Jain go ahead

[2021-07-13 19:13] arpit456jain commented on #56
@Dhruv-194 its already present have a look
https://arpit456jain.github.io/Amazing-Css-Effects/

[2021-07-13 19:13] arpit456jain commented on #49
@neha030 you can make the PR now

[2021-07-13 19:13] arpit456jain commented on #58
sure @ushmita4 go ahead

[2021-07-13 19:14] arpit456jain commented on #59
sure @siddhi-244 go ahead

[2021-07-13 19:16] arpit456jain commented on #62
@shivaprasadyanala i have to assign it to @KeerthanaPravallika due to first come first serve rule i will assign it you if its not completed on time

[2021-07-13 19:18] Dhruv-194 commented on #56
@arpit456jain oh I didn't notice it. Anyways it would be better if you could add this link somewhere on this project repo's readme or in the About section of the project

[2021-07-13 19:23] arpit456jain commented on #56
hey @Dhruv-194 would you like to add it in read me ?

[2021-07-13 19:30] Dhruv-194 commented on #56
@arpit456jain Ya i will add it not a problem.

[2021-07-13 19:36] arpit456jain commented on #56
ok go ahead

[2021-07-13 19:47] arpit456jain opened #71 "testing"
## Issue Type:

[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-13 19:47] #71 closed

[2021-07-13 20:08] #56 closed

[2021-07-14 03:00] Naman-mahi commented on #49
Sir can you please assign me

[2021-07-14 03:08] arpit456jain commented on #49
@Naman-mahi wait for some days if she is unable to make PR then i will assign it to you

[2021-07-14 03:27] #57 closed

[2021-07-14 03:28] arpit456jain opened #73 "Add remaining templates in style_link.json"
Add remaining templates in style_link.json and its url so that they can be accesed by home page

[2021-07-14 04:43] snehaM2210 commented on #10
Can I work on this issue if anyone is not doing this currently....Kindly assign me under DCP21 @arpit456jain .

[2021-07-14 04:43] #49 closed

[2021-07-14 04:50] ankitapuri commented on #10
@srisatya1197 kindly do it by today else u will be unassigned .

[2021-07-14 06:34] ankitapuri opened #75 "Configure bot to share the PR submission link"
## Issue Type:
Configure bot to share the PR submission link so that contributors can fill the form as soon as the PR gets merged .
Form link : https://forms.gle/uzEW46ujHTaEYt4b8
[ ] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

[2021-07-14 10:02] #68 closed

[2021-07-14 14:54] photon149 opened #77 "Ripple Loader Effect"
---
Title: Ripple Loader Effect
About: To create CSS  with ripple loader effect
Name: Shiwansh Raj
---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

*Describe the solution you'd like...*
I want to create a CSS effect in which while loading it gives ripple effect .

*Additional context*
Please assign me this project under Devincept21

[2021-07-14 16:00] nagasaisriya opened #79 "Rotating Card animation"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Possible solution**
Creates a two sided card which rotates on hover.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-14 16:43] #10 closed

[2021-07-14 17:14] pushpit-J19 opened #80 "Wavy footer"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the feature**

- A footer designed with css which gives the effect of sea waves

## **Possible solution**

- use simple css and animations

Please assign me this issue under Devincept 21

[2021-07-14 17:37] RC2208 opened #81 "Steaming cup animation"
Name: Ritika Chand

 [x]DevIncept Participant
 [x]Contributor

Describe the solution you'd like...
create a steaming cup animation using html and css

Additional context:
Please assign me this project under Devincept21

[2021-07-14 18:35] arpit456jain commented on #80
go ahead @pushpit-J19

[2021-07-14 18:35] arpit456jain commented on #81
ok @RC2208 go ahead

[2021-07-15 04:43] #61 closed

[2021-07-15 04:47] #77 closed

[2021-07-15 05:11] #75 closed

[2021-07-15 05:12] #59 closed

[2021-07-15 05:44] photon149 opened #86 "Credit Card UI Design"
---
Title: Credit Card UI Design
About: Creating a UI mockup of credit card using CSS
Name: Shiwansh Raj
---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

*Describe the solution you'd like...*

I want to create a mockup UI of Credit Card using HTML and CSS.

*Additional context*

Please Assign me this issue under Devincept 21

[2021-07-15 06:46] ankitapuri commented on #86
@photon149 go ahead

[2021-07-15 06:51] #80 closed

[2021-07-15 07:40] Baba-Yaga-1 opened #88 "Glassmorphic Calculator"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the bug**

- I want to add glassmorphic calculator under the DevIncept program. Can you assign me this issue under DCP 21?

[2021-07-15 08:38] pushpit-J19 opened #89 "Glowing checkboxes"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the feature**

- Glowing checkboxes, which tell if the option has been turned on like in mobile phones notification bar, made with css and cool icons.

## **Possible solution**

- to use css, icons, and glow effect to create the on/off

[2021-07-15 09:26] VenomFate-619 opened #91 "dark mode toggle"
want to implement the toggle button , can I do it

[2021-07-15 10:33] arpit456jain commented on #88
@Baba-Yaga-1 its related to js project have  a look on this repo
https://github.com/arpit456jain/Amazing-Js-Projects

this is also under dcp21

[2021-07-15 10:34] arpit456jain commented on #88
if you want to add only UI then you can add it @Baba-Yaga-1 here only

let me know

[2021-07-15 10:36] arpit456jain commented on #89
ok @pushpit-J19 go ahead

[2021-07-15 10:38] arpit456jain commented on #91
@VenomFate-619 in a seperate template on in any existing template ?

[2021-07-15 10:42] Baba-Yaga-1 commented on #88
Yes, I want to add the UI of calculator with Html and Css.
Also can I add the functional calculator in the js project repo ?

[2021-07-15 10:46] arpit456jain commented on #88
@Baba-Yaga-1 if you know how to make functional calculator then add it in js repo only

[2021-07-15 12:32] #81 closed

[2021-07-15 13:41] RC2208 opened #92 "Raining Effect"
# Issue Type:
[ ] Bug Report
[x] Feature Request
[ ] Documentation

# Describe the feature
Raining effect on background (that changes colour) using html and css.

Please assign me this under Dcp21

[2021-07-15 14:32] arpit456jain commented on #92
go ahead @RC2208

[2021-07-15 15:10] photon149 opened #94 "LED Loading Effect"
---
Title: LED Loading effect
About: To implement a LED Loading effect  widget using CSS
Name: Shiwansh Raj
---

Define You:

- [x] DevIncept Participant
- [ ] Contributor

*Describe the solution you'd like...*

I would like to implement a loading widget with LED effects using CSS

*Additional context*

Please Assign me this Issue under Devincept'21

[2021-07-15 15:46] arpit456jain commented on #94
ok  @photon149 go ahead
but make sure you write your own code

[2021-07-15 16:56] VenomFate-619 commented on #91
In a seperate template

[2021-07-15 17:09] arpit456jain commented on #91
ok @VenomFate-619 go ahead
but make sure you write your own code

[2021-07-15 17:48] #89 closed

[2021-07-15 17:49] #86 closed

[2021-07-16 05:59] jay-2000 opened #97 "Animated Gradient using Pure CSS"
In this part i'll be making a page with the help of HTML and pure CSS, which has an animated gradient for background,
can you please assign this issue to me under DCP'21 @arpit456jain

[2021-07-16 06:11] jay-2000 commented on #97
@arpit456jain also  let me know whether i can update my project in JSON file.

[2021-07-16 06:51] ashish-patwal commented on #73
can i work on this ?

[2021-07-16 06:52] ashish-patwal commented on #73
should i add all the remaining css projects or some particular ones ?

[2021-07-16 07:21] arpit456jain commented on #73
Have a look on https://github.com/arpit456jain/Amazing-Css-Effects/blob/master/style_links.json

[2021-07-16 08:40] Naman-mahi opened #98 "Changing Typing Effects"
I want to add **Changing Typing Effects** under the DevIncept program. Can you please assign me this issue under **DCP 21**

[2021-07-16 09:06] arpit456jain commented on #97
go ahead @jay-2000

[2021-07-16 09:11] arpit456jain commented on #98
sure @Naman-mahi go ahead

[2021-07-16 10:08] #94 closed

[2021-07-16 10:12] #92 closed

[2021-07-16 10:13] #88 closed

[2021-07-16 11:09] #73 closed

[2021-07-16 11:40] #97 closed

[2021-07-17 04:40] #98 closed

[2021-07-17 04:40] arpit456jain commented on #79
Go ahead @nagasaisriya

[2021-07-17 05:41] neha030 opened #103 "Water Drop Effect"
I want to add the Water drop Effect
Please assign me this

![Screenshot (245)](https://user-images.githubusercontent.com/72595335/126027131-4de19ad0-12dc-46de-b696-ff492761bd5b.png)

[2021-07-17 06:35] ankitapuri commented on #103
@neha030 go ahead

[2021-07-17 09:12] imran-mirza79 commented on #4
Hi
I want to work on it! I think we can use media-queries for this.

[2021-07-17 11:11] arpit456jain commented on #4
Sure @imran-mirza79 do one thing make them responsive one by one so do one thing just create a new issue for making responsive a particular template which you like

[2021-07-17 11:44] jay-2000 opened #105 "Parallax Effect"
Using pure html5, css3, I want to create a parallax effect landing page

@arpit456jain  @ankitapuri can you please assign this issue to me under DCP'21

[2021-07-17 11:47] arpit456jain commented on #105
Ok @jay-2000

[2021-07-17 12:28] imran-mirza79 commented on #4
okay

[2021-07-17 12:32] imran-mirza79 opened #106 "Making Horizontal Card Hover responsive"
## Issue Type:

[ ] Feature Request

## **Describe the bug**

- The horizontal card hover is not responsive yet. It looks good on normal monitor scree size, but it doesn't look good on devices of various screen sizes. So, the plan is to make it responsive so that it looks good on devices of various screen-sizes.

## **Possible solution**

- Using flex box and **rem** units along with media queries

[2021-07-17 12:39] ankitapuri commented on #106
@imran-mirza79 can you please elaborate the issue

[2021-07-17 12:41] arpit456jain commented on #106
@ankitapuri have a look on #4

[2021-07-17 21:21] Shivani207-tech opened #109 "Video Preview Button"
I wish to add a video preview button.

[2021-07-18 05:13] #106 closed

[2021-07-18 11:49] #105 closed

[2021-07-18 12:35] nagasaisriya opened #112 "Show additional content on hover"
I would like to add this css animation which creates a card that displays additional content on hover. Please assign this issue to me. Thanks in advance :)

[2021-07-18 12:46] pushpakumari5117 opened #113 "LOADER"
@arpit456jain
PLEASE GO THROUGH THIS IDEA ONCE AND ASSIGN IT TO ME UNDER THE DCP21 LABEL, IT WILL BE A GREAT CONTRIBUTION TO YOUR AMAZING CSS EFFECTS REPOSITORY.

DESCRIPTION :
I want to create a PAGE LOADER using HTML and CSS.

[2021-07-18 13:04] pushpakumari5117 opened #114 "HIDDEN SEARCH BAR"
@arpit456jain
PLEASE GO THROUGH THIS IDEA ONCE AND ASSIGN IT TO ME UNDER THE DCP21 LABEL, IT WILL BE A GREAT CONTRIBUTION TO YOUR AMAZING CSS EFFECTS REPOSITORY.

DESCRIPTION :
I want to create a HIDDEN SEARCH BAR using HTML and CSS.

[2021-07-18 13:11] tany1014 commented on #114
@arpit456jain  @ankitapuri  Can you please assign this issue to me under DCP'21

[2021-07-18 13:12] tany1014 commented on #113
@arpit456jain @ankitapuri Can you please assign this issue to me under DCP'21

[2021-07-18 13:12] tany1014 commented on #112
@arpit456jain @ankitapuri Can you please assign this issue to me under DCP'21

[2021-07-18 13:37] arpit456jain commented on #114
@tany1014 we have to follow first come first serve

@pushpakumari5117 great Idea go ahead

[2021-07-18 13:40] pushpakumari5117 opened #115 "CAMERA DESIGN"
**@arpit456jain
PLEASE GO THROUGH THIS IDEA ONCE AND ASSIGN IT TO ME UNDER THE DCP21 LABEL, IT WILL BE A GREAT CONTRIBUTION TO YOUR AMAZING CSS EFFECTS REPOSITORY.**

**DESCRIPTION :**
I want to create a CAMERA DESIGN using HTML and CSS.

**FEATURES :**
- CAMERA LIGHT FLASHES

[2021-07-18 13:44] #103 closed

[2021-07-18 13:45] arpit456jain commented on #113
Ok @pushpakumari5117 go ahead

And @tany1014 you can also make a PR for the same issue or you can create a new issue as you wish..

[2021-07-18 13:47] arpit456jain commented on #112
Sure @nagasaisriya go ahead

And @tany1014 you can also make a PR for this idea

Make sure you do not copy paste the Code
Write your own code please

[2021-07-18 16:05] pushpit-J19 opened #116 "Ripple Button effect"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the feature**

- A radially increasing ripple when button is pressed to confirm the user that the button has been pressed

## **Possible solution**

- use simple css and animations with basic js

@ankitapuri @arpit456jain
Please assign me this issue under Devincept 21

[2021-07-18 16:18] ankitapuri commented on #116
@pushpit-J19 go ahead

[2021-07-19 02:26] #116 closed

[2021-07-19 03:48] #79 closed

[2021-07-19 13:40] pushpit-J19 opened #118 "Depth effect with blur on image on hover"
## Issue Type:

[ ] Bug Report
[x] Feature Request
[ ] Documentaion

## **Describe the feature**

- On hover, some central part of image focuses, rest all blurs to give a depth effect

## **Possible solution**

- use simple css and animations

@ankitapuri @arpit456jain
Please assign me this issue under Devincept 21

[2021-07-19 14:10] ankitapuri commented on #118
@pushpit-J19 go ahead

[2021-07-19 17:45] Naman-mahi opened #120 "FAQ Accordion, only html and css"
I would like to work on this project. I would like to work under DCP'21 and I request you to assign me this project.
![Screenshot_20210719-231436~2](https://user-images.githubusercontent.com/61780573/126203663-29e66fa9-64fb-4cd7-a325-f9662ffa15ea.png)

[2021-07-19 17:51] Naman-mahi opened #122 "3D Animation Button"
I would like to work on this project as it was listed in ideas. I would like to work under HCSSoC, DCP'21 and I request you to assign me this project.

[2021-07-19 19:07] ankitapuri commented on #120
@Naman-mahi go ahead

[2021-07-19 19:07] ankitapuri commented on #122
@Naman-mahi go ahead

[2021-07-19 21:58] Dhruv-194 opened #125 "Issue Template not working"
## Issue Type:

[x] Bug Report
[ ] Feature Request
[ ] Documentaion

## **Describe the bug**

The tick boxes of the issue template is not working as they are supposed. You can see above.

## **Possible solution**

add a '-' hyphen before each box to make it work as intended.

[2021-07-20 01:48] arpit456jain commented on #125
Go ahead @Dhruv-194

[2021-07-20 05:16] #118 closed

[2021-07-20 15:59] aishwaryas15 opened #127 "Split Video on Page Scroll using CSS"
Please assign me this under DevIncept Program

[2021-07-20 18:17] sreelakshmig009 opened #128 "Parallax pixel star using pure css"
## Issue Type:

[ ] Bug Report
[X ] Feature Request
[ ] Documentaion

[2021-07-21 02:43] arpit456jain commented on #128
@sreelakshmig009 kindly wait mentor to assign you the issue from next time

[2021-07-21 06:35] #125 closed

[2021-07-21 07:18] sreelakshmig009 commented on #128
Sorry about it. I thought I could go forward since the bot assigned to me.
Next time Ill wait for the mentor to assign me

On Wed, Jul 21, 2021 at 8:13 AM Arpit Jain ***@***.***> wrote:

[2021-07-21 11:31] arpit456jain commented on #128
No problem @sreelakshmig009
Bot doesn't Assign you the issue it just add labels

[2021-07-21 17:07] #112 closed

[2021-07-21 17:08] #127 closed

[2021-07-22 16:43] kiruba-r11 opened #133 "Welcome Sliding Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- The feature is to add a Welcome sliding animation, which can be used as a template in landing pages.

[2021-07-22 17:51] #120 closed

[2021-07-22 17:55] arpit456jain commented on #133
@kiruba-r11 go ahead

[2021-07-22 17:59] Dhruv-194 opened #135 "Create Periodic Table"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentation

## **Describe the bug**

- To create a periodic table using basic html and CSS

[2021-07-22 18:06] arpit456jain commented on #135
@Dhruv-194 go ahead

[2021-07-23 14:39] #122 closed

[2021-07-23 14:40] arpit456jain commented on #113
@tany1014 are you making your PR or I should close this issue

[2021-07-23 14:42] #114 closed

[2021-07-23 14:43] ankitapuri commented on #128
@arpit456jain its done u can close it

[2021-07-23 14:44] arpit456jain commented on #62
@KeerthanaPravallika any updates ??

[2021-07-23 14:46] arpit456jain commented on #91
@VenomFate-619 any updates ?

[2021-07-23 14:46] ankitapuri commented on #58
@ushmita4 any updates its been 10 days

[2021-07-23 14:46] arpit456jain commented on #109
@Shivani207-tech ??

[2021-07-23 14:46] ankitapuri commented on #60
@aishwaryas15 any updates ?

[2021-07-23 14:47] #115 closed

[2021-07-23 14:48] #128 closed

[2021-07-23 14:51] ushmita4 commented on #58
I will be submitting it tomorrow.

[2021-07-23 14:56] KeerthanaPravallika commented on #62
Yeah, it is almost done, will do PR today, busy with few exams these days

[2021-07-23 15:05] Shivani207-tech commented on #109
I will do it today

[2021-07-23 16:48] #62 closed

[2021-07-24 04:48] #135 closed

[2021-07-24 11:07] #109 closed

[2021-07-24 17:02] shallanidevi opened #140 "Neon Light Effect"
@arpit456jain
I want to add  Neon Light Effect  to  Your Amazing CSS Effects Repository.

[2021-07-24 17:05] arpit456jain commented on #140
Sure @shallanidevi go ahead

[2021-07-24 17:59] shallanidevi opened #141 "Responsive Box Hover Effect"
@arpit456jain
PLEASE GO THROUGH THIS IDEA ONCE AND ASSIGN IT TO ME, IT WILL BE A GREAT CONTRIBUTION TO YOUR AMAZING CSS EFFECTS REPOSITORY.

DESCRIPTION :
I want to create a Responsive Box  including Hover Effect using HTML and CSS.

[2021-07-24 18:20] VenomFate-619 commented on #91
working on it , soon i will push it

[2021-07-24 19:24] aditya687 commented on #113
Please assign me this issue I will create a page loader @arpit456jain

[2021-07-25 13:42] #141 closed

[2021-07-25 18:58] jigar-sable opened #143 "Home Page UI Update"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

New card design for all effects with the preview images.

## **Possible solution**

Add one more key in json object for preview images and fetch them in card layout.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-26 10:08] #4 closed

[2021-07-26 10:08] arpit456jain commented on #60
@aishwaryas15 any updates ??

[2021-07-26 10:46] arpit456jain opened #148 "Add light/dark mode in wavy footer"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

![image](https://user-images.githubusercontent.com/55352601/126976974-cadfe7fc-b37b-4427-965e-d46e5a79520e.png)
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-26 10:47] arpit456jain opened #149 "Make FAQ Accordion responsive for mobile view"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-26 14:21] Naman-mahi commented on #149
Sir, can you assign this issue to me

[2021-07-26 14:23] arpit456jain commented on #149
@Naman-mahi please complete your previous issues first or close them

[2021-07-26 16:43] #113 closed

[2021-07-26 18:35] Naman-mahi commented on #149
Sir, already completed my previous issue.

[2021-07-26 18:45] arpit456jain commented on #149
ok @Naman-mahi go ahead but try to do it asap

[2021-07-26 19:15] jigar-sable opened #152 "Add Preview Images"
## Issue Type:

- [x] Feature Request

## **Describe the feature**

Add all effects preview images.

## **Possible solution**

- Add screenshots of every projects inside their directory.
- **File name should be `preview.png`**

![image](https://user-images.githubusercontent.com/64949957/127045386-f1c65f88-bd9f-4a79-b0a0-bae1388ddc26.png)

[2021-07-26 19:15] jigar-sable commented on #152
Don't assign me for this issue @arpit456jain. Let other's have this.

[2021-07-26 19:19] jigar-sable opened #153 "Back to top button on homepage"
## Issue Type:

- [x] Feature Request

## **Describe the feature**

Add scroll top button on homepage.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-27 05:44] arpit456jain commented on #140
@shallanidevi  are you working on this ?

[2021-07-27 05:45] arpit456jain commented on #133
@kiruba-r11 any updates?

[2021-07-27 05:47] arpit456jain commented on #58
@ushmita4 create a new issue when your PR is ready

[2021-07-27 05:47] #58 closed

[2021-07-27 05:48] arpit456jain commented on #60
@aishwaryas15 create a new issue when your PR is ready

[2021-07-27 05:48] #60 closed

[2021-07-27 05:48] shallanidevi commented on #140
Yes, I am working on this.

[2021-07-27 05:48] arpit456jain commented on #91
@VenomFate-619 create a new issue when your PR is ready

[2021-07-27 05:48] #91 closed

[2021-07-27 05:50] shallanidevi commented on #140
@arpit456jain Yes, I am working on this.

[2021-07-27 05:50] jay-2000 commented on #152
i can go  with this issue can you please this to me @arpit456jain @ankitapuri

[2021-07-27 05:53] arpit456jain commented on #152
@jay-2000 wait for PR of UI update to be merged after that you can start working on it

[2021-07-27 05:54] #143 closed

[2021-07-27 05:56] arpit456jain commented on #152
@jay-2000 that PR is merged now you can start working on it please do it by end of today its very urgent

[2021-07-27 06:19] jay-2000 commented on #152
ok i will do it ASAP

[2021-07-27 06:34] jigar-sable commented on #152
@jay-2000 After adding all previews do some changes in `style_links.json` so that images will render perfectly.
The directory name and the name in JSON should be exact same of all effects.

**Directory Name**
![image](https://user-images.githubusercontent.com/64949957/127106658-7510b103-a1b1-4ae6-a32b-6d3c077bbcee.png)

**JSON File Name**
![image](https://user-images.githubusercontent.com/64949957

[2021-07-27 09:51] #153 closed

[2021-07-27 10:06] #152 closed

[2021-07-27 10:07] arpit456jain opened #156 "some images are not rendering"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-27 10:07] arpit456jain commented on #156
https://amazing-css-effects.netlify.app/

[2021-07-27 10:08] arpit456jain commented on #156
@jay-2000 would you like to work on it

[2021-07-27 10:12] jay-2000 commented on #156
yeah sure , why not , do assign me @arpit456jain

[2021-07-27 10:23] arpit456jain commented on #156
ok @jay-2000 go ahead

and do one thing more some images having windows desktop taskbar
![image](https://user-images.githubusercontent.com/55352601/127138576-2e3df9d1-c7db-4bef-99fc-999e398511e2.png)

so just crop them i will raise issue to lvl2 and cross check all the names should be perfect

[2021-07-27 10:26] jay-2000 commented on #156
yeah, that's good idea

[2021-07-27 12:55] aishwaryas15 opened #158 "Checkout credit card payment Form using CSS"

[2021-07-27 13:01] arpit456jain commented on #158
@aishwaryas15 go ahead dead line 29 july

[2021-07-27 14:23] #156 closed

[2021-07-27 14:46] arpit456jain opened #159 "some images are not rendering"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-07-27 14:47] arpit456jain commented on #159
@jay-2000 look into it

[2021-07-27 19:36] harshita9621 commented on #140
@arpit456jain Can I work on this issue

[2021-07-27 21:08] arpit456jain commented on #140
Yeah sure @harshita9621 i am assigned you too you both can make PR to this same issue just make sure you write your own code do not download template from anywhere

[2021-07-28 04:04] arpit456jain commented on #159
@jigar-sable can you do this

[2021-07-28 07:11] Skapsime commented on #159
can i work on this

[2021-07-28 07:12] arpit456jain commented on #159
Yes @Skapsime but complete it asap

[2021-07-28 07:12] Skapsime commented on #159
okay

[2021-07-28 08:44] jay-2000 commented on #159
sorry , actually i was busy in college work do let me know if any help is needed from my side @arpit456jain

[2021-07-28 08:55] arpit456jain commented on #159
ok no problem @jay-2000
@Skapsime is working on it lets see

[2021-07-28 11:55] #159 closed

[2021-07-28 16:43] #149 closed

[2021-07-29 11:01] ankitapuri commented on #158
@aishwaryas15 any updates ?

[2021-07-29 11:03] ankitapuri commented on #140
@harshita9621 any updates?

[2021-07-29 11:04] ankitapuri commented on #133
@kiruba-r11 if u wont be able to do it by tomorrow I will close this issue and then u can create a new issue and work whenever you are free

[2021-07-29 13:18] aishwaryas15 commented on #158
ya by tonight

[2021-07-29 17:36] harshita9621 commented on #140
@ankitapuri Working on it

[2021-07-29 17:42] harshita9621 commented on #140
Can You please tell in which page  I have to create a neon effect

[2021-07-29 17:45] arpit456jain commented on #140
@harshita9621 make a new folder and inside that folder make your template

And add the path in json file

[2021-07-29 20:57] Dhruv-194 opened #168 "animated stacked cards"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the project**

- Creating an Animated Stacked Cards effects webpage using HTML and CSS.

Kindly please assign me this issue!

[2021-07-30 04:19] #158 closed

[2021-07-30 04:20] arpit456jain opened #169 "make Credit Card Payment Responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

Its not responsive

![image](https://user-images.githubusercontent.com/55352601/127599664-5ea80207-135f-4ed6-83d2-2643d1143459.png)

[2021-07-30 04:21] arpit456jain commented on #168
@Dhruv-194 go ahead

[2021-07-30 16:31] #168 closed

[2021-07-30 19:18] Dhruv-194 opened #171 "Zoom-in Card"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the Project**

- A webpage containing cards which gets zoomed-in when you hover over them using the mouse.
- It will created using HTML and CSS

Kindly please assign me this issue!

[2021-07-31 03:50] arpit456jain commented on #171
go ahead @Dhruv-194

[2021-08-01 05:45] neha030 opened #173 "Card with glowing border"
I want to add Card with glowing border effect .
Please assign me this issue under DCP'21.

![Screenshot (270)](https://user-images.githubusercontent.com/72595335/127760608-e8c5873b-81d8-4012-81cc-6b0ba7ae613d.png)

[2021-08-01 06:37] arpit456jain commented on #173
ok @neha030 go ahead

and have a look on this repo although this is not under DCP21 but u know #opensource
https://github.com/arpit456jain/Web-Development-Path-And-Resources

[2021-08-01 16:00] Kulshre142 opened #174 "Add Petals Effect"
## **Description**
@arpit456jain @ankitapuri I want to add Petals Effect to your Amazing CSS Effects Repo.
Please assign me this under DevIncept Program

## **Screenshots**

![image](https://user-images.githubusercontent.com/87146622/127777274-8465811e-2e52-4a56-8081-bfc479e16991.png)

[2021-08-01 16:04] arpit456jain commented on #174
go ahead @Kulshre142

[2021-08-02 10:27] #171 closed

[2021-08-02 13:54] arpit456jain opened #176 "add a gif of home page in read me"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

add a gif in read me like this repo
https://github.com/arpit456jain/Cool-Front-End_Templates

[2021-08-02 14:55] priyakumari02 commented on #176
Can i work on this issue

[2021-08-02 17:09] arpit456jain commented on #176
Go ahead @priyakumari02

[2021-08-03 09:50] Skapsime commented on #169
can i work on this?

[2021-08-03 10:36] arpit456jain commented on #169
Go ahead @Skapsime

[2021-08-03 12:01] Skapsime commented on #169
okay

[2021-08-03 12:39] Skapsime commented on #169
I am making an issue in AMAZING JS PROJECTS can you please assign me.

[2021-08-03 14:53] Skapsime opened #177 "Animated Rocket Launcher"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-03 14:54] Skapsime commented on #177
Can you please assign me.

[2021-08-03 15:07] arpit456jain commented on #177
go ahead @Skapsime

[2021-08-03 18:10] #177 closed

[2021-08-03 18:33] #176 closed

[2021-08-04 08:06] #173 closed

[2021-08-04 19:15] Skapsime opened #183 "HouseBuilding"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-04 19:16] Skapsime commented on #183
please assign me on this.

[2021-08-04 19:23] Skapsime opened #184 "Animated Realistic Bubbles"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-04 19:23] Skapsime commented on #184
please assign me on this

[2021-08-04 20:18] arpit456jain opened #185 "improve UI of credit card"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**
![image](https://user-images.githubusercontent.com/55352601/128249062-746a421c-2780-44d3-995f-8703d273ec15.png)

https://amazing-css-effects.netlify.app/credit%20card%20ui/

[2021-08-04 20:19] #185 closed

[2021-08-04 20:20] arpit456jain commented on #169
@Skapsime this issue was for

https://amazing-css-effects.netlify.app/credit%20card%20payment/

[2021-08-05 07:13] Skapsime opened #186 "Comet Effects"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-05 07:13] Skapsime commented on #186
please assign me

[2021-08-05 08:50] arpit456jain commented on #186
Go ahead @Skapsime
And must complete all issue before 10 August

[2021-08-05 09:00] Skapsime commented on #186
okay, i complete all issue within 10 aug

[2021-08-05 12:05] #184 closed

[2021-08-05 12:21] Skapsime opened #188 "Digital Wrist Watch"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-05 12:22] Skapsime commented on #188
please assign me asap

[2021-08-05 13:49] arpit456jain commented on #188
Go ahead @Skapsime

[2021-08-05 14:04] Skapsime commented on #188
okay thanks

[2021-08-05 14:39] #186 closed

[2021-08-05 14:40] arpit456jain opened #190 "make Commet responsive"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-05 14:41] arpit456jain commented on #190
@Skapsime do this asap

[2021-08-05 14:44] Skapsime commented on #190
okay

[2021-08-05 15:19] #188 closed

[2021-08-05 19:10] #140 closed

[2021-08-05 19:10] #133 closed

[2021-08-05 19:11] arpit456jain opened #192 "Img is not rendering of neon effect"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-06 03:22] #174 closed

[2021-08-06 03:25] arpit456jain opened #194 "Petals effect is not responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-06 03:25] arpit456jain commented on #194
@Kulshre142 ?

[2021-08-06 07:14] #190 closed

[2021-08-06 17:21] Skapsime commented on #192
can i work on this ?

[2021-08-06 17:37] Kulshre142 commented on #194
@arpit456jain  Plz Assign it to me

[2021-08-06 20:00] arpit456jain commented on #192
yes @Skapsime sure
and must check if any template is left to be add in json file and  alphabetically order also

[2021-08-06 20:01] arpit456jain commented on #194
go ahead @Kulshre142

[2021-08-06 20:06] #183 closed

[2021-08-06 20:07] arpit456jain commented on #169
@Skapsime

[2021-08-07 08:40] Skapsime commented on #192
okay

[2021-08-07 17:11] #192 closed

[2021-08-09 03:08] arpit456jain commented on #194
@Kulshre142 complete it by today

[2021-08-09 03:08] arpit456jain commented on #169
@Skapsime complete it by today

[2021-08-09 09:15] #169 closed

[2021-08-09 12:36] #194 closed

[2021-08-11 06:56] arpit456jain opened #201 "testing"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-11 06:57] #201 closed

[2021-08-11 06:58] arpit456jain opened #202 "testing"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-11 06:58] #202 closed

[2021-08-12 13:40] arpit456jain opened #203 "update the heading from "is" to "was" of devincrpt"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-13 08:57] kiruthikvishaal opened #204 "New css effect"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-08-13 08:58] kiruthikvishaal commented on #204
Please assign me this issue.

[2021-08-13 10:02] arpit456jain commented on #204
Go ahead @kiruthikvishaal
If haven't join our discord server kindly Join it
Link is in the read me

[2021-08-13 14:27] #204 closed

[2021-08-14 06:42] arpit456jain opened #206 "add two more items in navbar and add these links"
cool front end templates : https://cool-front-end-templates.netlify.app/
amazing Js Projects : https://amazing-js-projects.netlify.app/

[2021-08-14 06:47] arpit456jain opened #207 "Make a footer and add 3 sectioons"
section 1 : Description
Section 2 : other projects
section 3 : social media icons

[2021-08-15 14:27] khushi-purwar commented on #206
can you please assign  me this issue?

[2021-08-15 14:27] khushi-purwar commented on #203
please assign  me this issue.

[2021-08-15 14:28] arpit456jain commented on #203
go ahead @khushi-purwar

[2021-08-15 14:28] arpit456jain commented on #206
go ahead @khushi-purwar

[2021-08-15 16:55] #203 closed

[2021-08-15 16:58] #206 closed

[2021-08-18 16:26] Sulagna-Dutta-Roy opened #211 "Two animated logos"
<h2>Project Description</h2>
<p>I made two animated logos</p>

<h3>Tech stack used:</h3>
<ul>
<li>Html5</li>
<li>Css</li>
</ul>

[2021-08-18 17:13] arpit456jain commented on #211
ok @Sulagna-Dutta-Roy add them

[2021-08-19 10:38] #211 closed

[2021-08-22 11:26] Anubhavdxt commented on #207
Hi @arpit456jain
I want to work on this issue, can you assign it to me, so that I can start working.

[2021-08-22 15:44] arpit456jain commented on #207
go ahead @Anubhavdxt

[2021-10-01 09:55] singlapriyanka315 commented on #148
hyy @arpit456jain ,assign this to me

[2021-10-01 10:01] arpit456jain commented on #148
go ahead @singlapriyanka315

[2021-10-05 12:36] KarishmaVanwari commented on #207
Hey @arpit456jain can I work on this issue for Hacktoberfest 2021?

[2021-10-05 12:56] arpit456jain commented on #207
Yes sure @KarishmaVanwari

[2021-10-05 17:05] arpit456jain commented on #207
sure @KarishmaVanwari , by the way label on PR is mandatory

[2021-10-06 07:26] KarishmaVanwari commented on #207
![footer](https://user-images.githubusercontent.com/78212650/136158169-d2b2ae91-f228-4d16-8383-0760c6731989.PNG)

Hey @arpit456jain , could you please let me please give me the following details:
1. Content for 'about us'
2. Name for copyright ('ABC' in the image)

Also, do let me know if any other changes are needed.
I have also added some hover effects.

[2021-10-06 08:03] arpit456jain commented on #207
Leave it as it is @KarishmaVanwari  i will update it

[2021-10-06 09:56] KarishmaVanwari commented on #207
Done, have a look at #214 and do add hacktoberfest-accepted label to my PR.

[2021-10-06 10:03] #207 closed

[2021-10-10 04:59] YandaSaketh opened #219 "Update about us section"
I'm Yanda Saketh, a beginner to open source. I'm a hactoberfest participant and I would like to update contact us section by adding the content below.

It's a platform designed to store Some Astonishing CSS-Effects
ranging from different areas using
various templates.
Add some Cool Templates here!

[2021-10-10 05:00] YandaSaketh commented on #219
@arpit456jain please assign this issue to me.

[2021-10-10 05:24] royadaneshi commented on #219
@YandaSaketh hi please assign this issue to me.

[2021-10-10 06:15] arpit456jain commented on #219
go ahead @YandaSaketh

[2021-10-15 12:55] YandaSaketh commented on #219
@arpit456jain I have already created a pr. You have made changes as well.
here is the link   https://github.com/arpit456jain/Amazing-Css-Effects/pull/220
Thank you.

[2021-10-16 04:44] arpit456jain commented on #219
ok @YandaSaketh

[2021-10-16 04:44] #219 closed, assigned to YandaSaketh

[2021-10-17 11:11] jigar-sable opened #225 "View Code Feature"
## Issue Type:

- [x] Feature Request

## **Describe the feature**

We should have code button which will redirect to the codebase of specific project/effect.

## **Possible solution**

Add code button to the UI and pass the suitable link to redirect specific project.

## **Screenshots**

![image](https://user-images.githubusercontent.com/64949957/137624714-90c5cd87-91e8-4d1e-b6a4-906b34afc826.png

[2021-10-17 13:23] arpit456jain commented on #225
ok cool

[2021-10-23 14:56] arpit456jain opened #228 "Delete .DS_store file"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-10-26 18:12] arpit456jain opened #239 "check grammatical mistakes in read me"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-10-27 13:57] naveen3011 opened #240 "text effect"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-10-27 18:12] #240 closed, assigned to nobody

[2021-10-30 09:02] pushpit-J19 opened #243 "Falling leaves animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- will create a falling leaves animation effect with autumn leaves falling like in autumn from the trees

## **Possible solution**

- will use simple animations and transforms to create this effect

please assign me this issue under hacktoberfest 21 @arpit456jain

[2021-10-31 12:45] #243 closed

[2021-11-02 10:20] rudheer commented on #228
i can do this, pl assign this to me

[2021-11-02 19:26] rudheer commented on #228
i have sent a pull request, pl have a chek

[2021-11-10 12:13] ZaidKhan2002 opened #247 "Mobile navbar does not functoin"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
In mobile navbar toggle button does not work

## **Possible solution**

It should work for user to navigate between pages

## **Screenshots**
<img width="817" alt="Screenshot 2021-11-10 at 5 39 21 PM" src="https://user-images.githubusercontent.com/71960989/141111050-f749fdb2-6aad-4c2d-b800-e680864140

[2021-11-11 14:36] #247 closed

[2022-02-25 08:39] ishika1501 commented on #148
@arpit456jain  could u please assign it to me ?

[2022-02-25 13:30] arpit456jain commented on #148
@ishika1501 r u gssoc'22 participant?

[2022-02-26 06:33] HarshitShukla01 commented on #148
Sir i have already completed this task , so can u pls assign it to me

[2022-02-26 17:09] harshitab07 commented on #239
@arpit456jain I have made a pull request, kindly check.

[2022-02-26 17:24] arpit456jain commented on #239
@harshitab07 make PR after official time period starts

[2022-02-27 03:59] harshitab07 commented on #239
@arpit456jain  ok sir

[2022-02-28 02:35] adi2002vicky commented on #148
Hey, I'm GSSOC'22 participant. If this issue is still unresolved kindly assign this to me.

[2022-02-28 03:23] adi2002vicky commented on #148
Hey, I'm GSSOC'22 participant. If this issue is still unresolved kindly assign this to me.
i work on this issue and i solved this issue if need i have to  add my pull request.
Plz ,assign me for this issue.

[2022-02-28 03:26] adi2002vicky commented on #148
Hey, I'm GSSOC'22 participant. If this issue is still unresolved kindly assign this to me.
i work on this issue and i solved this issue if need i have to add my pull request.
Plz ,assign me for this issue.
![Screenshot 2022-02-28 085234](https://user-images.githubusercontent.com/78430607/155918977-7f002ee4-0083-4873-a457-b5820f621ada.png)
![Screenshot 2022-02-28 085414](https://user-images.githubu

[2022-02-28 05:47] HarshitShukla01 commented on #148
ok sir no problem

Although this what I made

https://user-images.githubusercontent.com/75080333/155930702-f1847e18-4e26-4b36-87f0-46bdc7013ee0.mp4

[2022-02-28 07:13] sudojarvis opened #253 "Add new CSS-effect template"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-02-28 07:18] sudojarvis commented on #253
Hi,I am GSSOC'22 participant. I would like to add a new template. Could you please assign me?

[2022-02-28 14:11] AmolShelke2 opened #254 "Adding Animated Nav to the list"
## Issue Type:
- [✔️ ] Feature Request

## **Describe the bug**

- hey Project Admin I'm a GSSOC participant and I've come up with your project I would love to contribute to your project as It is helpful for frontEnd Developers I'm also a frontEnd Developer. So I want to add an Animated navigation project to the list hope you will go through my issue & PR :D

## **Screenshots**

https://user-image

[2022-02-28 14:57] adi2002vicky commented on #253
Hey, I'm GSSOC'22 participant. i would like to Add new CSS-effect template
@arpit456jain plz assign me

[2022-02-28 16:05] Kushal-2002 commented on #254
I am a GSSOC'22 participant, I want to work on this issue.

[2022-03-01 02:18] akrati-max commented on #254
I am Akrati Gsocc'22. I want to add an Animated navigation project to the list.

[2022-03-01 02:19] akrati-max commented on #254
I am Akrati GSSOC'22. I want to add an Animated navigation project to the list.

[2022-03-01 03:45] Khushi-Mattu commented on #239
Can you assign this issue to me under GSSOC'22

[2022-03-01 05:22] srinjoy-26 opened #255 "add a few more effects like responsive profile card"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-01 05:23] srinjoy-26 commented on #255
Hi sir , I am a Gssoc contributor and please assign this task to me.

[2022-03-01 05:31] Anirban-1490 opened #256 "Adding Animated Sidebar"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- no bug

## **Screenshots**

![nav](https://user-images.githubusercontent.com/82874704/156110554-69d503cd-943d-46a9-8aec-ca0395a72e21.JPG)

[2022-03-01 05:55] devgirlcodes opened #258 "Add Spotlight effect on text"
I want to add the spotlight text effect using CSS.

[2022-03-01 06:14] rajprem4214 opened #259 "Hey admin!! I want to add CSS claymorphism login form effect. I m a contributor at GSSoC'22. Please assign this to me."
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Adding CSS claymorphism effect**

- Amazing clymorphism design via html and css.

## **Screenshots**

- <img src="https://i.ibb.co/WDxQGsm/clay.png" alt="clay" border="0">

[2022-03-01 06:21] prat1k-gupta opened #260 "Want to add the gradient hover effect over a link for multiple lines using css."
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- No bug, want to add this hover transition gradient effect over link using css.

## **Screenshots**

![hoverEffect (1)](https://user-images.githubusercontent.com/92115707/156115602-165f9146-d42b-438b-86eb-938e3105769a.gif)

[2022-03-01 06:23] prat1k-gupta commented on #260
can you please assign me this issue. I am under Gssoc 22.

[2022-03-01 06:50] devgirlcodes commented on #258
Can I get assigned to this? I am GSSoC'22 contributor.

[2022-03-01 07:31] codervivek5 commented on #260
I want to work on this issue under the Gssoc'22. plz assign me for the contribution.

[2022-03-01 08:16] Anirban-1490 commented on #256
@arpit456jain assign the GSSOC22 label as i am in it

[2022-03-01 09:13] Akash-Singh-007 opened #261 "add more css templates"
## Issue Type: Feature Request

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- no bugs. add some aniamted templates

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-01 09:16] SayedTabish72 commented on #260
## 🙋‍♂️𝗛𝗶 [pratik gupta](https://github.com/prat1k-gupta),
This is [Sayed Tabish](https://github.com/SayedTabish72). I'm participant of GirlScript Summer Of Code 2022.  And also I'm Experienced Freelance Web Developer with a demonstrated history of working in the internet industry. Strong engineering professional with a Bachelor of Technology - BTech focused in Information Technology from Dr. A.P.

[2022-03-01 11:12] Sanghu01 commented on #256
I want to work on this project.

[2022-03-01 11:16] #259 closed

[2022-03-01 11:19] geetika005 opened #262 "Button to email subscription effect"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A responsive button which expands to email subscription button on clicking
## **Possible solution**

- Describe the solution you thought of.
It saves space
## **Screenshots**

-
<img width="838" alt="2022-01-13 (3)" src="https://user-images.githubusercontent.com/89654310/156159714-cf838cc7-59b5-4d

[2022-03-01 11:24] geetika005 commented on #262
Please assign me the above issue i am a a girlscript summer of code participant

[2022-03-01 11:39] rajprem4214 opened #263 "Adding Colorful Rain Animations Effect"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

GSSoC'22

[2022-03-01 11:43] Nanshi29 opened #264 "Adding Claymorphism effect CSS Template | GSSoC'22"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-01 12:30] Debdeep1 commented on #260
I want to work on this under GSSoC'22

[2022-03-01 12:33] Gaurika-Gupta opened #265 "Flip Effect Card"
Flip Effect Card using HTML and CSS

[2022-03-01 12:34] Gaurika-Gupta commented on #265
Please add the GSSOC tag and Assign me the issue.
Thank You.

[2022-03-01 12:47] debjitpurohit commented on #265
assign me in the issue

[2022-03-01 12:53] Debdeep1 opened #266 "NEOMORPHIC PAGE LOADER. Hi admin! Can you please assign this task to me under GSSoC'22?"
## Issue Type:

- [x] Feature Request

## **Describe the feature**
This is a page loader with Neomorphic UI

This is not a bug

- Describe the solution you thought of.

- ## **Screenshots**

![WhatsApp Image 2022-03-01 at 18 20 01](https://user-images.githubusercontent.com/89895057/156172327-2a681ba2-4d52-45e5-a30e-09ca6913b01f.jpeg)

- If applicable, add screenshots to help explain your problem.

[2022-03-01 12:57] Debdeep1 opened #267 "Adding a CSS Text Highlighter."
## Issue Type:

- [x] Feature Request

## **Describe the bug**

This is not a bug

I want to add this CSS effect so that people can implement it and make modifications as they would like.

## **Screenshots**
![WhatsApp Image 2022-03-01 at 18 20 01 (1)](https://user-images.githubusercontent.com/89895057/156172972-af86302d-292b-4b1a-b8b2-80bdae57eb6d.jpeg)

- If applicable, add screenshots to help e

[2022-03-01 12:58] Debdeep1 commented on #267
I want to work on this issue under GSSoC'22.

[2022-03-01 14:06] astha2412 commented on #265
Make your own issue...otherwise wait for us to make new issues

[2022-03-01 14:09] astha2412 commented on #260
Make your own issue...

[2022-03-01 14:10] astha2412 commented on #260
Plz Make your own issue

[2022-03-01 14:12] Kalyani02072003 opened #268 "Static site with video as background"
## Issue Type:

- [x] Documentaion

## **Describe the bug**

- This issue to make a static site with video as the background.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot (303)](https://user-images.githubusercontent.com/71889838/156194542-e5f55c78-1a65-46c3-8e13-74ca61564d1c.png)

[2022-03-01 14:25] astha2412 commented on #255
@srinjoy-26 add ss.....

[2022-03-01 14:26] astha2412 commented on #268
Plz add ss

[2022-03-01 14:27] Kalyani02072003 commented on #268
okay i will add the ss now

[2022-03-01 14:28] Kalyani02072003 commented on #268
@astha2412 how can i assign this issue to myself

[2022-03-01 14:32] abhil2002 commented on #262
Hi, Please assign me this task I'll give my best. I am GSSOC '22 contributor.

[2022-03-01 16:11] Abh1shekSingh opened #269 "Improve and add beautiful and responsive Navbar for this website"
## Issue Type:

Navbar is so ugly. So I will design and devlop responsive navbar for this website

@arpit456jain  Please assign this task to me. I will definately create one beautiful and responsive navbar for the website

[2022-03-01 16:11] Abh1shekSingh commented on #269
@arpit456jain  Please assign this task to me. I will definately create one beautiful and responsive navbar for the website

[2022-03-01 16:14] Abh1shekSingh opened #270 "Footer for the Website"
## Issue Type:

Hi sir @arpit456jain  I will create a beautiful and yes, responsive footer for the website.

![Capture](https://user-images.githubusercontent.com/71981463/156205825-dd703467-4f3c-4af0-b745-36b744709729.JPG)

something like this. this is actually my website design but ill create one beautiful footer like this for this website as well

[2022-03-01 16:15] Abh1shekSingh commented on #270
@arpit456jain Please assign this issue to , design is ready. and just half development is also on the way please assign this task to me

[2022-03-01 16:27] Aditya3403 commented on #270
Sir I would like to work on this issue. I will create fully responsive and beautiful footer for this website. Kindly assign this issue to me.

[2022-03-01 16:29] Aditya3403 commented on #255
Sir I would like to work on this issue. Kindly assign this issue to me.

[2022-03-01 16:31] Aditya3403 commented on #268
I would like to work on this issue. Kindly assign this issue to me.

[2022-03-01 16:33] Aditya3403 commented on #269
I would like to work on this issue . Kindly assign this issue to me.

[2022-03-01 16:39] khushigupta123 commented on #269
I am interested in working on this issue, please assign this to me.

[2022-03-01 16:41] adeshpratapsingh commented on #270
Sir I would like to work on this issue. I can create fully responsive and beautiful footer for this website.
Please Kindly assign this issue to me.

[2022-03-01 16:43] adeshpratapsingh commented on #269
Sir I would like to work on this issue.
Please Kindly assign this issue to me.

[2022-03-01 17:00] mahi-19 commented on #270
Sir I would like to work on this issue. I can create fully responsive and beautiful footer for this website with animations.
Please Kindly assign this issue to me.

[2022-03-01 17:00] mahi-19 commented on #269
Sir I would like to work on this issue. I can create fully responsive and beautiful Navbar for this website.
Please Kindly assign this issue to me.

[2022-03-01 17:54] CoderSahil128 opened #272 "Differrent GLassmorphism Card UI Design with Vanila JS"
I am a contributor from GSSoC - 22. I can create different kinds of glassmorphism card UI designs like glowing gradients and etc. and can add some effects like hover and tilt effects.so Please assign this issue to me

https://user-images.githubusercontent.com/97339865/156221892-e473f446-bea9-48b2-82e8-992f40d936e9.mp4

[2022-03-01 18:35] arpit456jain commented on #269
@Abh1shekSingh i had already assigned this issue in another repo if u make a good navbar please create this issue again since we need a same navbar in all  3 repos

[2022-03-01 18:35] #269 closed

[2022-03-01 18:36] arpit456jain commented on #270
<img width="953" alt="footer" src="https://user-images.githubusercontent.com/55352601/156228446-a300fcf7-386d-4fcf-b5ad-b11b3f03ff0a.png">

@Abh1shekSingh can u make a footer exactly like this

[2022-03-01 18:43] TG922 commented on #270
Hey! @arpit456jain I would like to work on this issue under GSSoC'22 . Please Assign me with this issue .

[2022-03-01 18:45] TG922 commented on #268
Hey! @arpit456jain I would like to work on this issue under GSSoC'22 . Please Assign me with this issue .

[2022-03-01 18:50] adeshpratapsingh commented on #270
@arpit456jain i can make a footer exactly like that

[2022-03-01 22:01] #262 closed

[2022-03-01 22:11] #268 closed

[2022-03-01 22:55] gurjeetsinghvirdee opened #275 "Add Network Particle Animation"
## Issue Type
- [x] Feature Request

## Describe the bug
This is not a bug. I want to add Network Particle Animation

## Video

https://user-images.githubusercontent.com/73753957/156262671-388eb598-9517-4abc-8dba-96d538feb115.mp4

[2022-03-02 01:49] Abh1shekSingh commented on #270
Yes sir

On Wed, Mar 2, 2022, 12:06 AM Arpit Jain ***@***.***> wrote:

[2022-03-02 03:23] Abh1shekSingh commented on #270
**SIR I HAVE BUILT and completed with the development part of this issue as you have asked to do this. I have created Footer the exact way you want. and yes it is responsive too
here are the images**
![proof2](https://user-images.githubusercontent.com/71981463/156288957-fe5ad235-ef60-4738-83b7-e38c8c021e82.JPG)
![prrof1](https://user-images.githubusercontent.com/71981463/156288963-126cee55-21d3-4a

[2022-03-02 03:25] Abh1shekSingh commented on #270
Sir Have made the footer and given the attachment as well so that you can
see. please assign this issue to, so that i can make pull request [image:
proof2.JPG][image: prrof1.JPG]

On Wed, Mar 2, 2022 at 7:19 AM Abhishek Singh ***@***.***>
wrote:

[2022-03-02 04:03] Abh1shekSingh opened #276 "Beautiful and responsive Navbar for the website"
## Issue Type:

- [ ] Feature Request
## **Describe the bug**

Will create the best beautiful as well as responsive navbar

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![navbar js proof](https://user-images.githubusercontent.com/71981463/156292794-ee5db6ee-6fa8-4166-9209-a7834b745f40.JPG)
![re

[2022-03-02 04:09] shreyasharma0201 opened #277 "Checking effect is missing in Neuromorphic Calculator."
## Buttons are not showing any effect after being checked :

- [x] Bug Report

## **Possible solution**

- add *checked:after* to input field

## **Screenshots**

- **Before fixing** <br><img src="https://user-images.githubusercontent.com/83056947/156292699-c1a2c336-f46b-4b66-b24f-45c444a3254f.png" alt="Girl in a jacket" width="100px" height="100px">
- **After fixing** <br><img src="https://user-i

[2022-03-02 04:10] shreyasharma0201 commented on #277
Please assign me this task.

[2022-03-02 05:50] Abh1shekSingh commented on #269
So please assign this issue to me, i will create sam navbar for all of the
three website

On Wed, Mar 2, 2022 at 12:05 AM Arpit Jain ***@***.***> wrote:

[2022-03-02 05:53] Abh1shekSingh opened #279 "Navbar for the Website"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

@arpit456jain  Sir i will create the nice and beautifull webite just like the one, that i have send as a PR in your amazing-JS_projects repo, I have attached the images below. Please assign this iisue to me, i will creat e anice header this time again too.

## **Screenshots**

- If applicable, add screenshots to help explain your prob

[2022-03-02 05:53] Abh1shekSingh commented on #279
@arpit456jain  please assign the task

[2022-03-02 07:05] Vamp-harshit opened #281 "bulb on/off using button"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentation

## **Describe the bug**
it is a css effect which turn on light and turn it off using a button and produce a click sound.
- A clear and concise description of what the bug is.

## **Screenshots**
![image](https://user-images.githubusercontent.com/90219042/156311648-df3de415-4a24-45f2-98ee-c52c17941f54.png)
![image](https://

[2022-03-02 07:06] Vamp-harshit commented on #281
please add gssoc tag to this issue

[2022-03-02 07:23] yashg-116 opened #282 "Some improvements in Price Card 2"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentation

## **Describe the bug**

- No mention whether the cost is per month or per year
- Typos in names of facilities provided
- UI is not good as text is not seen clearly

## **Possible solution**

- Correct the typos
- Improve overall UI

## **Screenshots**

-
![card2](https://user-images.githubusercontent.com/72403085/15631404

[2022-03-02 07:25] yashg-116 commented on #282
@arpit456jain please assign the task

[2022-03-02 07:43] Nitya-S27 opened #283 "Adding a Interactive profile card"
A profile card that shows social icons on hover.

![display](https://user-images.githubusercontent.com/81871441/156316951-3088cb0d-d85c-440e-acac-d08375045df0.png)

[2022-03-02 08:13] FatimaBegam opened #284 "Hey there! I want to add some more animated buttons. I'm absolutely new to open-source contribution. Assign me and I'll definitely try for the best output."
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-02 08:17] itsAftabAlam opened #285 "update README.md"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [x] Documentaion

Fixes #286

[2022-03-02 08:19] itsAftabAlam commented on #285
please review above mentioned PR. It fixes the documentation

[2022-03-02 11:12] Ankitsingh2001 opened #289 "Animated Cube"
Animated cube using HTML and CSS only
 please assign to me for this

[2022-03-02 11:50] Sohana4567 opened #291 "login functionality is not working.I want to add some animated button and want to change the ui design.please assign"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-02 12:47] iamtanya-22 opened #292 "Adding awesome parallax mousemove effect using HTML,CSS and Js"

[2022-03-02 12:53] iamtanya-22 opened #293 "Image slider-with Auto-Play"

[2022-03-02 13:04] kheya19 opened #294 "Add a beautiful glassmorphic flipbook"
can you assign me this as I'm a GSSoC'22 contributer

[2022-03-02 13:06] Sandhya312 opened #295 "Request to add some awaesome css effect"
@arpit456jain
**I am a GSSOC'22 contributor**
I want to add some awesome CSS effects like *Thanos* effect, *Awesome search bar*, *3d text animation effect*, *Colour rain effect* and etc.Please assign this issue to me.

[2022-03-02 13:09] iamtanya-22 commented on #292
I want to work on this.
So, do assign this issue under gssoc'22.

[2022-03-02 13:23] VidhiBhatt01 commented on #279
You already created the same issue earlier

[2022-03-02 13:24] #279 closed

[2022-03-02 13:25] aikanshboyal commented on #289
If possible, I would love to work on this issue and solve it as soon as possible

[2022-03-02 13:25] VidhiBhatt01 commented on #281
@Vamp-harshit , Assigned it to you.

[2022-03-02 13:27] VidhiBhatt01 commented on #284
@FatimaBegam fill this template properly, I will assign this issue to you.

[2022-03-02 13:29] Abh1shekSingh commented on #279
Arpit Jain sir closed it, he said we will see this later but then told me
to create new one again

On Wed, Mar 2, 2022 at 6:54 PM VIDHI BHATT ***@***.***> wrote:

[2022-03-02 13:31] VidhiBhatt01 commented on #291
@Sohana4567 please fill this template properly. I will assign this issue to you after that.

[2022-03-02 13:33] VidhiBhatt01 commented on #292
Assigned it as of now but please mention proper description while raising an issue. It is a good open-source practice.

[2022-03-02 13:46] #275 closed

[2022-03-02 13:50] VidhiBhatt01 commented on #270
LGTM. Thanks for contributing!

[2022-03-02 13:50] #270 closed

[2022-03-02 13:52] Abh1shekSingh commented on #270
Thank you so much for giving this opportunity

On Wed, Mar 2, 2022 at 7:20 PM VIDHI BHATT ***@***.***> wrote:

[2022-03-02 15:03] Adit0507 opened #298 "Add a CSS Santa Claus with a background snowfall animation"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

A really fun Santa Claus with a snowfall animation in the background.

- A clear and concise description of what the bug is.

## **Solution**

https://user-images.githubusercontent.com/78037846/156387493-706a55f2-04d0-480d-b08b-595f2c48e0ba.mp4

[2022-03-02 15:07] arpit456jain opened #299 "Make footer full responsive"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-02 15:09] Adit0507 opened #300 "Add a CSS Submarine Animation"
## Issue Type:
- [x] Feature Request

## **Describe the bug**
I want to add a CSS Submarine animation with bubbles, a rotating fan at the rear.

## **Screenshots**
![css-submarine](https://user-images.githubusercontent.com/78037846/156388924-d25372fe-ff30-47b6-9a90-a8f175587286.PNG)

[2022-03-02 15:46] Abh1shekSingh commented on #299
please assign it to me. I will correct it soon

[2022-03-02 16:08] FatimaBegam commented on #284
@VidhiBhatt01 Check this out!

[2022-03-02 16:16] starashdeep opened #302 "All Terrain Armored Transport Animation"
The All Terrain Armored Transport is a four-legged transport and combat vehicle animation with creative background using impressive CSS effects
![Screenshot (316)](https://user-images.githubusercontent.com/92468703/156402133-da0d4f96-bf48-4a4c-937e-7b4257598878.png)
.

[2022-03-02 16:19] shivangi-pandey opened #303 "CSS 3D Text Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- Describe the solution you thought of.
Text or Image in rotating format

[2022-03-02 16:30] VidhiBhatt01 commented on #284
Assigned

[2022-03-02 17:24] yash-25log opened #306 "Multi Colored text"
Hey there i am  participant at GSSOC'22.
i hereby present my idea of CSS text effect
Please assig me in...
![image](https://user-images.githubusercontent.com/58944204/156414681-5cf326bf-efbb-4d6d-bd3d-befb4f703c70.png)

[2022-03-02 17:38] kingmask420 opened #307 "Glassmorphic form with 3D background."
I am a gssoc-22 contributer. I want to add a glassmorphic form with moving particles on background .
as shown in the video attached below. kindly assign me this issue

https://user-images.githubusercontent.com/91127892/156416901-d9957e49-45ae-4967-b823-b2c6c401b03b.mp4

[2022-03-02 17:39] yash-25log opened #308 "Add html css rolling text animation"
## Issue Type:GSSOC'22 contributon
hey i am participant at GSSOC'22
i would like to add up this amazing text animation effect
please assign me in
![ezgif-2-1ee6ba6adf](https://user-images.githubusercontent.com/58944204/156417286-b8c5239c-4b62-44fb-a7a3-5880dfa18344.gif)

[2022-03-02 18:20] gurjeetsinghvirdee opened #309 "Add Distortion Effect"
## Issue Type
- [x] Feature Request

## Bug
This was not a bug. I want to add Distortion Effect

## Video

https://user-images.githubusercontent.com/73753957/156423809-e4ee7124-7517-41a1-814a-29f3ea6e85cf.mp4

[2022-03-02 18:20] FatimaBegam commented on #284
Nice.

[2022-03-02 18:54] Sohana4567 commented on #291
@VidhiBhatt01,I have changes the issue.can you please check?

[2022-03-02 18:57] VidhiBhatt01 commented on #291
Are you contributing for the first time?

[2022-03-03 02:30] Abh1shekSingh commented on #299
Please assign this issue. So that I can make A PR again .

[2022-03-03 04:18] FatimaBegam commented on #291
@Sohana4567 Admin is asking you to fill the issue template first. Then he'll assign it to you.

[2022-03-03 05:02] omkar806 opened #311 "Creating a Chat App design with HTML,CSS,Js"
## Issue Type:
I want to add a new project  where I want to create a Chat app using HTML,Css and java script . After designing I will also make this a real time chat app using Node js and sockets .

[2022-03-03 05:06] omkar806 commented on #311
@arpit456jain please can you assign this issue to me , I will make this chat web application from scratch.

[2022-03-03 05:12] #298 closed

[2022-03-03 05:15] #253 closed

[2022-03-03 05:21] #285 closed

[2022-03-03 05:58] Abh1shekSingh commented on #299
@arpit456jain  Sir added the responsive footer, please do check if you like please tell me, i will create same issue in your other repo and will create navbar and footer for them also

[2022-03-03 06:16] #303 closed

[2022-03-03 06:20] VidhiBhatt01 commented on #311
@omkar raise this issue in amazing js projects repo

[2022-03-03 06:20] #311 closed

[2022-03-03 06:34] Adit0507 opened #314 "Add a Custom Ice Cream Maker"
## Issue Type:
- [x] Feature Request

## **Describe the bug**

- I wish to add an Ice Cream maker through which we can change the flavor (color) of the scoop and also of the toppings

## **Screenshots**

![Ice-Cream](https://user-images.githubusercontent.com/78037846/156509634-95ddcb6b-b748-444c-a534-33fb2d94b47e.PNG)

[2022-03-03 07:31] Sohana4567 commented on #291
@VidhiBhatt01,Yes

[2022-03-03 07:48] Sohana4567 commented on #291
Issue title: Add animated button

## Issue Type:

- [x] Feature Request

## Describe the bug

- This is not a bug, I want to add animated button and want to change the ui

##screenshot

![Screenshot 2022-03-03 131145](https://user-images.githubusercontent.com/47296277/156519868-13871367-f164-4d50-9f41-1f83bc7f46e4.png)

[2022-03-03 07:50] Avik-creator opened #315 "Want to Add 3d Safari Logo"
## Feature Add

# want to 3d safari logo.

[2022-03-03 07:51] Sohana4567 commented on #291
##screenshot
![Screenshot 2022-03-03 131851](https://user-images.githubusercontent.com/47296277/156520372-cfc8bd1d-a45d-40f5-bf20-752ac7424f3a.png)

[2022-03-03 09:06] shreyasharma0201 commented on #277
### Progress Report
Done with the issue.
Already applied for pull request.

[2022-03-03 10:32] priyanshi-2001 opened #317 "File Uploader with Progress Bar"
## Issue Type: I want to create a file uploader.

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
The user will be able to upload files and a progress bar will be there which will show how much of it is uploaded.
Tech stack used: HTML,CSS, Javascript.

- A clear and concise description of what the bug is.

## **Possible solution**
I want to contribute to this usi

[2022-03-03 10:35] shubham2-002 opened #318 "Want To add Mouse Cursor Effect"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- This is not a Bug want add a new feature mouse cursor effect

**I am a GSSOC 2022 participant,
Kindly assign this issue to me.**

[2022-03-03 11:08] VidhiBhatt01 commented on #314
This is interesting! Will be waiting for the PR

[2022-03-03 11:10] Avik-creator commented on #315
Thanks for assigning this to me. I will work on it Today.

[2022-03-03 11:11] #254 closed

[2022-03-03 11:12] #289 closed

[2022-03-03 11:14] #309 closed

[2022-03-03 11:15] #299 closed

[2022-03-03 11:16] #276 closed

[2022-03-03 12:40] Ankitsingh2001 opened #322 "Flip-Card"
sir, please assign me for amazing flip-card.

[2022-03-03 13:43] tanaya1812 opened #323 "Parallax pixel star background effect"
Hey! I am a GSSOC'22 contributor willing to work on this project.

## Issue Type:

- [x] Feature Request

## **Description**

- A parallax pixel star background effect which can be used on websites.

[2022-03-03 13:51] AmolShelke2 opened #324 "Animated Countdown can be used before loading the website.."
## Issue Type:

- [x] Feature Request

## **Describe the bug**
- It is an Animated countdown created using HTML CSS and JavaScript it can be used before the websites load it doesn't harm any code of yours...
- I've also attached the DEMO of it please go through it and assign me this issue to work on.
- thanks for your kindness

## **Screenshots**
https://user-images.githubusercontent.com/95171638/

[2022-03-03 15:26] Avik-creator commented on #315
I have a pr regarding this issue #315. So please if I would be allowed to merge it or not. And how it is any suggestions are welcomed. @VidhiBhatt01

[2022-03-03 15:58] Debdeep1 opened #327 "Css Glowing effects on Hover over navbar items"
## Issue Type:

- [x ] Feature Request

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

This is a hover effect which can be added to hamburger menu of nav elements.

[2022-03-03 15:58] Debdeep1 commented on #327
I want to work on this issue under GSSoC'22

[2022-03-03 16:18] SouvikMahato opened #329 "Animated Text Hover Effect"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- It's not a bug. It's an animated Text Hover effect with HTML and CSS.

## **Screenshots**

![Hover effect](https://user-images.githubusercontent.com/93695450/156605878-7781c9e7-115e-4f7e-bb03-b3790a1f67c4.png)

**I am a GSSOC 2022 participant. Kindly assign this issue to me. Thank You**

[2022-03-03 17:37] kheya19 opened #331 "Add a blurry loading page"
@arpit456jain  you asked me to raise a PR in this repo instead of "Amazing JS" Repo

[2022-03-03 18:35] pragmatic-philosopher09 opened #334 "Expanding Flex Card Effect"
## Issue Type:

Creating an awesome effect of flex cards with HTML & CSS!

- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- Describe the solution you thought of.

-Creating a flex card of some images that smoothly transition into the complete image on clicking them! Useful for incorporating in a website where space optimization might be needed for images.

## **Screenshots**

[2022-03-03 18:41] pragmatic-philosopher09 commented on #334
Hi, I'm a contributor @GSSOC'22 & would be interested in taking this up!

[2022-03-03 18:51] SamarthKavathe commented on #331
will you please allow me to work on this issue

[2022-03-03 19:05] #314 closed

[2022-03-03 19:07] #315 closed

[2022-03-03 19:09] #283 closed

[2022-03-04 02:27] kartikthakur7107 opened #337 "CSS-Neon-hover-navbar"
## Issue Type:

- [x] Bug Report
- [✔️]] Feature Request
- [ ] Documentaion

## **Describe the bug**

- It's not a bug, But it's a feature request

## **Possible solution**
CSS-Neon-hover-navbar

## **Screenshots**
![image](https://user-images.githubusercontent.com/72328959/156687283-99e7e2c3-a632-41b1-b5a6-1103f65118e5.png)

As the name suggests the neon effect, if one hovers over the navbar cont

[2022-03-04 03:16] sceary-expert commented on #337
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:17] sceary-expert commented on #307
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:18] sceary-expert commented on #291
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:18] sceary-expert commented on #267
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 03:19] sceary-expert commented on #239
I WANT TO WORK ON THIS ISSUE UNDER GSSOC'22.

[2022-03-04 04:39] Ankitsingh2001 opened #339 "Toy girl"
please assign me to make the toy.
I make this only using
**HTML**
**CSS**

[2022-03-04 04:58] #308 closed

[2022-03-04 04:59] #306 closed

[2022-03-04 05:46] VidhiBhatt01 commented on #339
Please attach any SS or video. If not let me know

[2022-03-04 05:47] VidhiBhatt01 commented on #291
@sceary-expert you can create issues on your own as well

[2022-03-04 05:49] manni2000 opened #340 "Add New CSS effect template!"
Hello, I'm a Manish Kumar contributor of GSsoc'22.
Sir, I wanted to add like Intro video 'Welcome CSS Effect template' in the Amazing-CSS-Effects section.
So please give me an issue.
Thank you.

[2022-03-04 05:59] Avik-creator opened #341 "3D cube glowing effect"
## Feature Request

- Want to add glowing cube effect
- It will be based on css only.

[2022-03-04 06:38] Ankitsingh2001 commented on #339
ok sir I send

[2022-03-04 06:52] Vamp-harshit opened #342 "change digital watch image"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
the png image in the digital watch is poorly edited. White marks can be seen when changing the background colour.
- A clear and concise description of what the bug is.

## **Possible solution**
I changed the images and now the white marks is hidden.
- Describe the solution you thought of.

## **Scree

[2022-03-04 07:25] Ankitsingh2001 commented on #339
![image](https://user-images.githubusercontent.com/89564535/156718428-943f4860-3b9b-4923-93ba-f4c8bb66b82d.png)

[2022-03-04 09:08] geetika005 opened #346 "Glassmorphism review section"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

https://user-images.githubusercontent.com/89654310/156733523-bf346b83-7cb6-46a0-bc8d-c7273f5e6a82.mp4

[2022-03-04 09:09] geetika005 commented on #346
Please assign this issue to me i am a gssoc participant

[2022-03-04 09:10] geetika005 commented on #346
My project is this much ready i will update and add some more css effects to it after it gets assigned to me

[2022-03-04 09:30] jyothi-k-g opened #347 "Animated rain and lightening effect"
please assign this issue to me

[2022-03-04 10:05] khandagalechetna commented on #239
There are some grammatical mistakes in the readme file. I would like to fix it for you. Also, there is a need for punctuation in some places.

I will be more than happy if you assign it to me.

[2022-03-04 10:06] khandagalechetna commented on #239
There are some grammatical mistakes in the readme file. I would like to fix it for you. Also, there is a need for punctuation in some places.

I will be more than happy if you assign it to me.

[2022-03-04 10:27] Abhilasha-Jairath commented on #347
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:27] Abhilasha-Jairath commented on #340
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:28] Abhilasha-Jairath commented on #322
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 13:14] VidhiBhatt01 commented on #340
@manni2000 please attach a sample SS or video

[2022-03-04 13:16] VidhiBhatt01 commented on #346
Sure!

[2022-03-04 13:17] VidhiBhatt01 commented on #347
@Abhilasha-Jairath Can you please attach a sample SS or video?

[2022-03-04 13:21] manni2000 commented on #340
@VidhiBhatt01 I'm attaching a video. Please have a look.
![welcm css effect gif](https://user-images.githubusercontent.com/91480902/156770532-5d5cb615-07cb-4120-9a71-11ebbd654bee.gif)

[2022-03-04 13:26] jyothi-k-g commented on #347
https://user-images.githubusercontent.com/83746859/156771369-6ecb966f-0c60-453f-9e5d-e06a7ea158ac.mp4

I have attached the video here

[2022-03-04 14:19] Vamp-harshit opened #352 "3-D Responsive Safari logo"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the feature**
its a 3d safari logo which response according to the cursor
- A clear and concise description of what the feature is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![image](https://user-images.githubusercontent.com/90219042/156779864-e59f2e3b-dc22-46b2-a54

[2022-03-04 14:23] #352 closed

[2022-03-04 14:32] Vamp-harshit opened #353 "Animated Circular navigation menu"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the feature**
it is an animated navigation menu
- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![image](https://user-images.githubusercontent.com/90219042/156781793-92e26596-ec51-4f98-a2d6-685caa114737.png)
![image](h

[2022-03-04 14:41] #324 closed

[2022-03-04 14:44] #294 closed

[2022-03-04 14:45] #318 closed

[2022-03-04 14:47] #329 closed

[2022-03-04 14:50] Kalyani02072003 opened #355 "Blog Section for any site"
## Issue Type:

- [x] Documentaion

## **Describe the bug**

-This issue is about a blog section in any site with amazing hover effect of the blogs cards. The site is static and not responisve.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem
-
![Screenshot (327)](https://user-images.githubusercont

[2022-03-04 14:54] shahishree03 commented on #355
Please assign me this. I really eager to contribute

[2022-03-04 16:50] Abhishek786-Kolvekar opened #358 "Would Like to contribute A Card Hover Effect using CSS"
Hello and Good Evening,
I found a tutorial on Instagram about a Cool Hover Effect which can be used in many applications.
The Tech Stack used basically is HTML and CSS only.
I request you to please assign me this issue.
Regards

[2022-03-04 19:04] mansi-singla-31215 opened #360 "Animated Heading Page"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Not a bug. It is an animated front page highlighting important text or heading with the help of the moving 3-d object.

## **Possible solution**

Languages used:
- HTML
- CSS

## **Screenshots**

<img width="956" alt="image" src="https://user-images.githubusercontent.com/83231180/156825509-a5e61c3

[2022-03-05 04:47] bishal7679 commented on #353
Hey I am a participant of GSSOC 2022 and a frontend developer
Can you pls assign it to me ?

[2022-03-05 06:16] Sandhya312 commented on #295
Hey @arpit456jain,
I successfully completed the issue. So Please check the PR - Added two awesome  #361.

[2022-03-05 07:38] Vamp-harshit commented on #353
bro you need to make your own issue or you will get assigned if not completed in 3 days after assigning

[2022-03-05 08:42] shr-code opened #365 "Parallax scroll-down feature"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- It is not a bug. I want to add a parallax scroll-down animation.

## **Possible solution**

- I'm a GSSOC contributor and would like to add a new feature. The parallax feature will look good. Please assign this issue to me.
- HTML, CSS & Js will be used for this feature.

![image](https://user-ima

[2022-03-05 09:13] gurjeetsinghvirdee opened #366 "Add 3D Hover Effect"
## Issue Type:
- [x] Feature Request

## **Describe the bug**

- This is not a bug. I want to add a 3d Hover Effect

## **Screenshots**

![3D hover](https://user-images.githubusercontent.com/73753957/156876822-24d3de79-db05-4ad9-aa0a-a135b284a942.png)

[2022-03-05 09:35] neeluyadav999 opened #367 "Hover over image to see social icons with color effect"
## Issue Type:

- [ ] Bug

- [x] Feature Request

 - [ ]  Documentation

## **Describe the feature**

- When the user will hover over the image he/she can she social media icons and also when hovered over icons , the icons will enlarge color will change of icons

## **Possible solution**

- HTML5 and CSS is going to be used for this feature.

## **Screenshots**

- If applicable, add screenshots to

[2022-03-05 10:17] muskan4455 commented on #367
i want this work

[2022-03-05 11:53] geetika005 opened #370 "Update the periodic table ui with some amazing css effects"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

-The existing periodic table looks quite simple

## **Possible solution**

- I would like to change the ui of the periodic table and want to make it look more attractive

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-05 13:30] Strangerharsh commented on #367
I am a GSSoC22 contributor kindly assign this to me.

[2022-03-05 15:20] Vamp-harshit opened #371 "glowing smiley"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the feature**
many smiles which glows upon clicking
- A clear and concise description of what the feature is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![WhatsApp Image 2022-03-05 at 8 46 31 PM](https://user-images.githubusercontent.com/90219042/156889521-c6e0e661-5

[2022-03-05 16:38] Khushi25pandey commented on #370
I would like to work on this issue. Please assign it to me @geetika005

[2022-03-05 16:39] Khushi25pandey commented on #366
I would like to work on this issue. Please assign it to me @gurjeetsinghvirdee

[2022-03-05 16:40] gurjeetsinghvirdee commented on #366
I'm a contributor not a mentor, this issue was assigned me

[2022-03-05 16:46] Khushi25pandey commented on #337
I would like to work on this issue. Please assign it to me @kartikthakur7107

[2022-03-05 16:48] geetika005 commented on #370
This issue is already assigned to me,you can either create your own issue or work on some other issue which is not assigned to anyone else

[2022-03-05 17:15] Khushi25pandey commented on #366
okay!Sorry for the trouble.

On Sat, Mar 5, 2022 at 10:11 PM Gurjeet Singh Virdee <
***@***.***> wrote:

[2022-03-05 17:16] Khushi25pandey commented on #370
Ya sure! Thankyou for updating me.

On Sat, Mar 5, 2022 at 10:18 PM geetika005 ***@***.***> wrote:

[2022-03-05 18:31] Sulagna-Dutta-Roy opened #373 "Animated Css Loaders"
I would like to add this project. Please assign me this Issue.

[2022-03-06 03:40] VidhiBhatt01 commented on #373
Please elaborate more about the issue or attach a SS or video for the same

[2022-03-06 04:04] Anish-Parkhi opened #378 "Add new Animating Number Counter CSS effect"
## Issue Type:

- [x] Feature Request

## **Possible solution**

I will add a animating number counter which is a cool CSS effect.

[2022-03-06 04:28] #347 closed

[2022-03-06 04:39] #355 closed

[2022-03-06 04:41] #341 closed

[2022-03-06 04:44] #346 closed

[2022-03-06 05:47] Areebah03 opened #381 "Improve hover effect"
## Issue Type:

- [ ] Documentaion

## **Describe the bug**

Css of hover effect.

## **Possible solution**

I will change the animation effect of hover.

## **Screenshots**
![Screenshot 2022-03-06 111650](https://user-images.githubusercontent.com/85051124/156910995-700fe629-09d0-4b49-99a6-616ea1bcffed.png)

[2022-03-06 06:21] Sulagna-Dutta-Roy commented on #373
Project Screenshot:
![Loader preview](https://user-images.githubusercontent.com/72568715/156911810-cfea184d-f51e-45c8-8dd9-f6502aed25b3.PNG)

[2022-03-06 13:33] srinjoy-26 opened #383 "Add glowing + hover glowing effect social media icons"
Project based on CSS.
here how it looks.
![glowng](https://user-images.githubusercontent.com/91176055/156925491-c6c328d3-0919-453e-ac38-065fb8a3e322.png)

[2022-03-06 14:23] #291 closed

[2022-03-06 14:24] #337 closed

[2022-03-06 14:26] #339 closed

[2022-03-06 14:33] #366 closed

[2022-03-06 17:17] #381 closed

[2022-03-06 19:39] Sohana4567 opened #385 "want to Modify Assasin's creed card"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**
some animation  is missing

## **Possible solution**

I want to add some animation in these card.

## **Screenshots**

![card](https://user-images.githubusercontent.com/47296277/156939299-91c49277-c42f-4f2b-80ed-b960d881f15f.png)

[2022-03-06 20:01] Sreemoyee26 opened #387 "Add falling snow effect"
## Issue Type:

- [x] Feature Request

## **Project Description**

- Add falling snow effect

[2022-03-06 20:01] Sreemoyee26 commented on #387
pls assign me this issue @VidhiBhatt01

[2022-03-07 02:57] TG922 opened #388 "Feature : Adding 3d CSS loading bar"
## Issue Type:

- [x] Feature Request

## Description

- I want to add 3d CSS loading bar to this project.
- This feature will help increase User Interface(UI) of your website.

## **Screenshots**

- Please assign me on this issue under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/157037138-d752fdd9-41f7-4aaf-8dd9-da46f2f6d0f1.PNG)

[2022-03-07 03:16] TG922 opened #389 "Feature : Adding Gooey CSS Effect"
## Issue Type:

- [x] Feature Request

## Description

- I want to add Gooey CSS effect to this project.
- This feature will help increase User Interface(UI) of your website.

## **Screenshots**

- Please assign me on this issue under GSSOC '22.
![Image](https://user-images.githubusercontent.com/70098839/157058370-22aa954d-f70b-483b-9849-e35e5628749b.PNG)

[2022-03-07 03:24] TG922 opened #390 "Feature : Adding Gooey Text Animation"
## Issue Type:

- [x] Feature Request

## Description

- I would like to add 3d CSS loading bar to this project.
- This feature will help increase **User Interface(UI)** of your website.

## Screenshot

- Please assign me on this issue under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156962482-adc0effc-ca5d-45fd-9e5b-5c5fd9a48a1d.PNG)

[2022-03-07 03:44] TG922 opened #391 "Feature : Adding Lava Lamp Css Effect"
## Issue Type:

- [x] Feature Request

## Description

- I would like to add Lava Lamp to this project using HTML and SCSS.
- This feature will enhance**User Interface(UI)** of your website.

## Screenshot

- Hey Admin Please assign me on feature under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156964126-0bc2a997-9f54-4d65-a494-d767ad5ab04a.PNG)

[2022-03-07 04:11] TG922 opened #392 "Feature : Adding CSS Gooey radio switch"
## Issue Type:

- [x] Feature Request

## Description

- I want to add gooey radio switch.

  :eyes: Tech Stack:
    HTML,CSS and JS for radio button.

## **Screenshot**

- Please assign me on this issue under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/157042442-08c7802b-d522-45e0-8a8a-f55abf7c18c0.PNG)

[2022-03-07 04:13] #258 closed

[2022-03-07 04:14] #302 closed

[2022-03-07 04:22] #360 closed

[2022-03-07 04:25] #373 closed

[2022-03-07 04:59] TG922 opened #395 "Feature : Adding animated text shadow"
- [x] Feature Request

## Description

- I would like to add animated text shadow to this project using pure CSS.
- This feature will enhance**User Interface(UI)** of your website.

## Screenshot

- Kindly assign me on this feature under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/156970737-7267e2ab-ff91-4d52-92d5-0d6ca3cdb4b5.PNG)

[2022-03-07 05:11] TG922 opened #396 "Feature : Add video masking text"
## Issue Type:

- [x] Feature Request

## Description

- I want to add video under text.

  :eyes: Tech Stack:
    HTML,CSS

## **Screenshot**

- Please assign me on this issue under GSSOC '22.

![Image](https://user-images.githubusercontent.com/70098839/157046188-176f6a66-4bc9-4c9b-967f-247a71580305.PNG)

[2022-03-07 09:16] Abh1shekSingh opened #399 "Better Cards Components i.e UI and UX"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

I can create better UI for the cards component. This one are not so attractive to the eyes. Assign it to me, I can develop them

[2022-03-07 09:16] Abh1shekSingh commented on #399
@arpit456jain  PLEASE ASSIGN THIS ISSUE TO ME, I CAN MAKE THEM BETTER

[2022-03-07 09:21] #295 closed

[2022-03-07 09:29] #260 closed

[2022-03-07 10:26] Sanghu01 commented on #395
i want to contribute in this issue under gsscoc'22

[2022-03-07 10:27] Sanghu01 commented on #391
i want to contribute in this issue under gsscoc'22

[2022-03-07 10:28] Sanghu01 commented on #388
i want to contribute in this issue under gsscoc'22

[2022-03-07 10:29] Sanghu01 commented on #340
i want to contribute in this issue under gsscoc'22

[2022-03-07 10:29] Sanghu01 commented on #317
i want to contribute in this issue under gsscoc'22

[2022-03-07 10:57] AmolShelke2 opened #400 "Want to add Button with an rible effect can be used in any portfolio website"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Hey, Project admin I'm a GSSOC participant and I've come up with your project I want to add a button with an amazing Ribble effect created using HTML CSS and javaScript I'm attaching the demo below please go through it and assign me this issue to work on...

## **Screenshots**

https://user-images.githubusercontent.com/95171638/157018

[2022-03-07 13:24] krithika2411 commented on #395
I'm a GSSoC'22 contributor.I want to solve this issue .Kindly assign this issue to me.

[2022-03-07 13:25] Chirantanbanik opened #401 "Add a new project"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- It's not an bug actually, I want to add up a new project i.e. Flip-the-coin.

## **Screenshots**

https://user-images.githubusercontent.com/71392444/157042763-d828ee75-7fca-412f-a58b-c1468fa91fc5.mp4

[2022-03-07 13:51] krithika2411 opened #402 "Add Slider slide Login and sign up"
## Issue Type:
- [ ✔️] Feature Request

## **Description **

- I would like to add Slider slide Login and sign up
- This feature will enhance User Interface(UI) of your website.

## **Screenshots**

- Kindly assign me on this feature under GSSOC '22.

https://user-images.githubusercontent.com/85842586/157046717-2a0dda2e-c3d0-40cc-aad6-55dc0e797635.mp4

[2022-03-07 14:40] Chirantanbanik commented on #401
I have done this project already, do assign it to me!

[2022-03-07 17:47] krittt opened #403 "i want to add bubbles for the other half of the web page"
## Issue Type:

- [ ] Feature Request

## the bubbles are being displayed on left half of the webpage only.

## **Possible solution**

- i want to add this feature on the other half of the page as well .. that is the right part.. i believe i will look good

## **Screenshots**

![2022-03-07](https://user-images.githubusercontent.com/87245981/157088903-8e674dee-0b2d-4dc1-b98a-90134afcf77f.png)

[2022-03-07 17:48] krittt commented on #403
@astha2412 please assign me this issue.

[2022-03-07 19:18] Sreemoyee26 commented on #387
pls assign me this issue @VidhiBhatt01

[2022-03-08 06:44] satyam1511 commented on #403
Hii , I want to work on this issue . Please assign it to me under Gssoc22

[2022-03-08 09:44] #263 closed

[2022-03-08 11:46] VidhiBhatt01 commented on #385
Do add before and after images in PR description

[2022-03-08 11:49] VidhiBhatt01 commented on #401
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones

[2022-03-08 11:50] VidhiBhatt01 commented on #400
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones

[2022-03-08 11:50] VidhiBhatt01 commented on #399
Attach SS or video

[2022-03-08 11:51] VidhiBhatt01 commented on #388
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones

[2022-03-08 11:51] VidhiBhatt01 commented on #389
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones

[2022-03-08 11:53] #389 closed

[2022-03-08 11:53] VidhiBhatt01 commented on #388
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:53] #388 closed

[2022-03-08 11:53] VidhiBhatt01 commented on #391
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:53] #391 closed

[2022-03-08 11:53] VidhiBhatt01 commented on #392
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:53] #392 closed

[2022-03-08 11:54] VidhiBhatt01 commented on #401
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:54] #401 closed

[2022-03-08 11:54] VidhiBhatt01 commented on #400
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:54] #400 closed

[2022-03-08 11:54] VidhiBhatt01 commented on #390
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:55] VidhiBhatt01 commented on #395
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:55] #390 closed

[2022-03-08 11:55] #395 closed

[2022-03-08 11:55] VidhiBhatt01 commented on #396
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-08 11:55] #396 closed

[2022-03-08 13:33] anushkachauhxn opened #404 "Improve Scroll to top button"
## Issue Type:

- [x] Bug Report

## **Describe the bug**

The **Scroll to Top** button doesn't go with the UI of the website.

## **Possible solution**

Different colors and effects.
#### 🎯 I'd like to work on this under GSSoC'22.

## **Screenshots**

![image](https://user-images.githubusercontent.com/59930625/157247651-f2954b5f-7284-43d1-a35b-de1e2f6d1c93.png)

[2022-03-08 14:39] ayush-sleeping opened #406 "Claymorphism List Hover Effects"
## Issue Type:

- [x] Feature Request

## **Description**

- It will be a cool "Claymorphism List" with Hover effects with help of Html and CSS , which everyone will like to add in his or her Frontend Project.

#

I want to work on this issue under @GSSOC , Kindly assign me this issue @arpit456jain .

[2022-03-09 01:57] Abh1shekSingh commented on #399
Some thing just like this.

On Tue, Mar 8, 2022, 5:20 PM VIDHI BHATT ***@***.***> wrote:

[2022-03-09 05:08] rajprem4214 opened #408 "Beautiful Product Card UI Design Using HTML, CSS"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**
I have already contributed to this repo. Please assign me this issue for GSSoC'22.

## **Screenshots**

![product ui](https://user-images.githubusercontent.com/85401522/157376689-c50c30cb-db49-473d-8fc7-a9deac254d10.png)

[2022-03-09 05:10] #408 closed

[2022-03-09 09:44] #383 closed

[2022-03-09 09:50] #307 closed

[2022-03-09 18:13] VidhiBhatt01 commented on #399
??

[2022-03-09 18:16] VidhiBhatt01 commented on #406
@ayush-sleeping please attach some  SS or video

[2022-03-10 04:10] Abh1shekSingh commented on #399
![card](https://user-images.githubusercontent.com/71981463/157586861-f44bd11c-623e-4ba6-91e6-2af1024796ee.JPG)

[2022-03-10 04:10] Abh1shekSingh commented on #399
@VidhiBhatt01  Somthing just like the above one

[2022-03-10 10:07] anushkachauhxn opened #411 "Add GitHub repo link in navbar"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

The whole website does not have any link to the website. It would me much more useful to the user if they could find the repository easily.

#### 🎯 I'd like to work on this under GSSoC'22.

## **Possible solution**

A button in the navbar.

![image](https://user-images.githubusercontent.com/59930625/157639068-35d03dd4-c52a-4eec-961e-0

[2022-03-10 14:31] BabyElias opened #412 "Particle to text animation using CSS"
## Issue Type:

- [ X] Feature Request

I would like to add a particle in the wind(kind of particle to text animation) using CSS to the website.
I am a GSSoC contributor.Please assign me this issue.

[2022-03-10 17:13] anushkachauhxn opened #413 "Add Pulse Effect using CSS"
## Issue Type:

- [x] Feature Request

## Describe

A pulse effect made using simple CSS Animations.

#### 🎯 I'd like to work on this under GSSoC'22.

## Screenshots

It would look like this:

<img height="280px" src="https://user-images.githubusercontent.com/59930625/157717556-6231e16d-b382-4dd9-bfcb-f016f7e3e897.png">

[2022-03-10 18:11] VidhiBhatt01 commented on #413
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-10 18:11] #413 closed

[2022-03-10 18:43] anushkachauhxn opened #415 "Enhance documentation in index.html"
## Issue Type:

- [x] Documentation

## Describe

- Google Fonts stylesheet in index.html is redundant
- Some comments are not correct
- Indentation issues in index.html
- Unnecessary empty lines make the code hard to understand

[2022-03-11 05:37] OmSurj commented on #411
I'd like to work on the issue

[2022-03-11 05:39] OmSurj commented on #281
I would like to take up the issue

[2022-03-11 05:57] anushkachauhxn commented on #411
Please see that the issue is already assigned.

[2022-03-11 08:19] bajajharsha opened #417 "Change Styling - Weild the web"
## Issue Type:

- [x] Feature Request

## **Desciption**

I want to change the styling of the login card.

## **Screenshots**

![image](https://user-images.githubusercontent.com/85387921/157828965-7f8c3d5a-cdc1-41e2-a090-c30ca0ae5a85.png)

[2022-03-11 18:02] mrkc2303 opened #418 "3D Card Flip Effect with Data"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

I have a amazing Card Flip Effect using CSS

## **Screenshots**

<img width="480" alt="Screenshot 2022-03-11 at 11 29 45 PM" src="https://user-images.githubusercontent.com/67221487/157924133-19d05d72-5041-43e0-bf22-fe4556dc551a.png">
<img width="460" alt="Screenshot 2022-03-11 at 11 31 11 PM" src="https://user-images.githubusercontent

[2022-03-11 18:10] yellowberard opened #419 "CSS Timeline"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- A responsive time made with html and css.

[2022-03-11 18:26] KushagraJain58-cmd opened #420 "CSS Grid Template"
## Issue Type:

- [ x] Feature Request

## **Describe the bug**

I have made a CSS template using grid.

## **Screenshots**

![image](https://user-images.githubusercontent.com/81035005/157928706-b0f1b6c2-c5d2-4903-b961-f8ba02919ef4.png)

[2022-03-11 18:40] prachi1211 opened #421 "Image Accordion Effect"
I'm Gssoc22 Contributer. I would like to Make Image Accordion effect on the website. This contain several number of image. This specific effect expand the particular image by clicking on it. Please assign me this task.
Thank you !

[2022-03-11 18:54] Keyurchaniyara opened #422 "Block Merging Background Animation Effects"
**Tasks:-**
- [ ] Merge the block and make full image
- [ ] destroy the block and remove the image

Hello

I am a GSSoC22 contributor. I would like to contribute this effect. This particular animation will create a image and destroy as well in the form of blocks. Please do assign this to me.

Thank You :)

[2022-03-11 19:35] YatreeLadani opened #423 "Morphing Cube Animation"
Hello !

I am GSSOC'22 contributor. I would like to perform this task. This the cube which gives 3D effect and also the cube is converted into circular flash cards. Kindly assign me this task.

Thank you !

[2022-03-11 20:25] anirudh357 commented on #342
I would like to work on this please assign this to me.

[2022-03-12 05:21] hardikdheer opened #424 "Adding Login and Signup page with 3D rotation effect"
@arpit456jain Please assign this issue to me.

[2022-03-12 05:26] hardikdheer opened #425 "Adding Facebook clone front end template."
@arpit456jain Please assign this issue to me under GSSOC'22 contribution..

[2022-03-12 05:28] #425 closed

[2022-03-12 05:30] hardikdheer opened #426 "Adding Facebook clone front end template."
@arpit456jain Please assign this issue to me under GSSOC'22 contributions.

[2022-03-12 08:32] VidhiBhatt01 commented on #418
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:32] #418 closed

[2022-03-12 08:32] VidhiBhatt01 commented on #426
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week. Also, this is the wrong repo for this issue. You can raise it in Cool Fronted templates

[2022-03-12 08:32] #426 closed

[2022-03-12 08:33] VidhiBhatt01 commented on #421
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:33] #421 closed

[2022-03-12 08:33] VidhiBhatt01 commented on #424
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:33] #424 closed

[2022-03-12 08:33] VidhiBhatt01 commented on #423
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:33] #423 closed

[2022-03-12 08:34] VidhiBhatt01 commented on #420
Issues for new projects will be assigned next week. This week we are only focussing on improving the existing ones. You can raise this issue / reopen it next week.

[2022-03-12 08:34] #420 closed

[2022-03-12 08:35] VidhiBhatt01 commented on #419
Please elaborate the issue also add some SS or video if possible

[2022-03-12 08:36] VidhiBhatt01 commented on #422
Please elaborate on what exactly you will do. Also attach some SS or video if possible

[2022-03-12 09:00] yellowberard commented on #419
![image](https://user-images.githubusercontent.com/82977727/158011421-e09a5a40-7dfe-4cb5-8b77-a591907bf30e.png)
![image](https://user-images.githubusercontent.com/82977727/158011429-26cb6873-add0-4ca5-8951-3635bd304bd9.png)

It is a timeline to show events chronologically and is responsive.

[2022-03-12 09:15] VidhiBhatt01 opened #427 "Improve the Readme"
Resize and make the images in the readme of the same size.

![image](https://user-images.githubusercontent.com/83345228/158011986-f35d470b-9007-4845-93f8-de810672e890.png)

[2022-03-12 09:18] VidhiBhatt01 opened #428 "Enhancing the Display of projects"
Find and fix the bug due to which the image is not being shown

![image](https://user-images.githubusercontent.com/83345228/158012086-d7c77871-8b6e-4a52-8d75-c19db790a6d7.png)

[2022-03-12 09:21] VidhiBhatt01 opened #429 "Sort the Projects"
Arrange the projects in a sequential way ( The way they are shown in GitHub). Changes are needed to be made in style_links.json.

![image](https://user-images.githubusercontent.com/83345228/158012157-a06cbf1b-6580-4d2a-bd2a-98fe27afda98.png)

[2022-03-12 09:25] VidhiBhatt01 opened #430 "Add search bar"
Shift the title on left and include a search bar beside it so that projects can be searched and found easily

![image](https://user-images.githubusercontent.com/83345228/158012320-1cb04efb-1c99-40b9-a748-155ce8029329.png)

[2022-03-12 16:41] lhardt commented on #429
Hello!

I'm a junior dev looking to contribute to Open Source projects, both to help the community and to boost my profile. I saw this issue as it had the tag "good first issue" and it seems a great place to start.

The way I see it, the HTML page loads script.js, which loads all the styles from style_links.json.
So, to change the order and make them appear correctly, all we need is placing all th

[2022-03-12 17:01] VidhiBhatt01 commented on #429
Yes it is correct. Assigning it to you, go on. Happy contributing :)

[2022-03-12 19:17] astha2412 opened #433 "Want to add dynamic website"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-12 19:24] #433 closed

[2022-03-12 19:39] aditi10701 opened #435 "Loading animation"
A loader with animation can be created. I am interested in working with this. Kindly assign me the same.

[2022-03-13 03:59] #411 closed

[2022-03-13 05:22] OmSurj commented on #430
Please assign me this issue

[2022-03-13 05:50] Yashi2002 commented on #430
I am GSSOC '22 participant and I want to work on this issue. Please assign me this project.

[2022-03-13 05:50] Yashi2002 commented on #387
I am GSSOC '22 participant and I want to work on this issue. Please assign me this project.

[2022-03-13 05:51] Yashi2002 commented on #435
I am GSSOC '22 participant and I want to work on this issue. Please assign me this project.

[2022-03-13 08:25] chaithanya99 commented on #428
i think image addresses are wrong

[2022-03-13 08:31] chaithanya99 commented on #428
Could you assign this issue to me

[2022-03-13 09:05] OmSurj commented on #427
I would like to contribute to this issue. Please assign me

[2022-03-13 12:51] ayush-sleeping commented on #406
Hey @VidhiBhatt01 , I am middle of some personal family work ( my ne family person is in ICU now ) , As soon as I will free . I will attach SS or video of this mini Project , Sorry for late ........

[2022-03-13 13:43] #399 closed

[2022-03-13 13:57] Abh1shekSingh opened #437 "Better Cards UI / UX"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

I will create a better Cards Design and will develop too.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-13 13:57] Abh1shekSingh commented on #437
@arpit456jain  please assign this issue to me.

[2022-03-13 15:06] abhilipsasahoo03 opened #438 "Add Pixel Art Frog made using CSS"
# Issue Type

[X] Feature Request

# Description

Add Pixel Art Frog made using CSS

[2022-03-13 15:11] abhilipsasahoo03 commented on #438
Hi @arpit456jain kindly assign me this issue

[2022-03-13 16:13] Abh1shekSingh commented on #430
@VidhiBhatt01  I can add Search bar plus Filtering Feature for the website. Please assign this issue to me maam

[2022-03-13 17:07] VidhiBhatt01 commented on #428
yes, that's the bug. You can work on it and update the addresses

[2022-03-13 17:08] VidhiBhatt01 commented on #430
Assigned it to @Abh1shekSingh as he's more experienced. Plus this issue directly affects the repo and is a crucial one.

[2022-03-13 17:09] VidhiBhatt01 commented on #435
@aditi10701 attach some SS or video

[2022-03-13 17:10] VidhiBhatt01 commented on #438
Assigned, kindly make it responsive as well :)

[2022-03-13 20:11] abhilipsasahoo03 commented on #438
Sure!

[2022-03-14 03:46] chaithanya99 commented on #428
could you tell where the image address code part is written

[2022-03-14 05:38] lhardt commented on #429
There were a lot of items which weren't in the list. I've included all of them, except for the ones below:
There was also a typo: 'sliding' was written 'slideing' and getting a 404 error.

I'm submitting the code for review!

I presume that the following folders should not have been included, and thus I did not:
 - 'css effects for pages';
 - 'Flip Effect Card'; and
 - 'depth effect' with bg blur'

[2022-03-14 05:40] chaithanya99 commented on #428
many repos dont have an preview images what to do

[2022-03-14 06:32] Abh1shekSingh commented on #430
On it ma'am... Just waiting for my previous PRs to get merge, so that I can
fetch upstream to Not mess with Conflict error....

On Sun, Mar 13, 2022, 10:39 PM VIDHI BHATT ***@***.***> wrote:

[2022-03-14 13:30] Abhishek786-Kolvekar opened #442 "CSS Fingerprint Scanner Animation Effects"
Hello and would like to contribute by designing a CSS effect for scanning.
Please assign me this issue.
Regards

[2022-03-14 13:46] #437 closed

[2022-03-14 14:02] #428 closed

[2022-03-14 19:33] Shel-2607 opened #445 "Click and Drag"
Hello , this is Shelja Sharma , GSSOC'2022 participant , I want to add   Click and Drag amazing CSS effects such that on clicking , the screen drags
Thank you for your time!! and looking forward to work on it.

[2022-03-15 03:45] connectnitesh opened #447 "Animate Text "Amazing-CSS-Effects"
## Issue Type:
Animate Text "Amazing-CSS-Effects"
Type writing animation effect

## **Screenshots**
![image](https://user-images.githubusercontent.com/79007697/158302099-c622d13e-b203-4a98-be4d-767c257da368.png)

- If applicable, add screenshots to help explain your problem.

[2022-03-15 04:58] Sohana4567 opened #448 "I want to change the design of login page."
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

Design of login page is not good,button design is  not good

## **Possible solution**
I want to design of login page,I  also want to change the design of button

## **Screenshots**
![login](https://user-images.githubusercontent.com/47296277/158309424-119f22a4-ef03-41c5-aaad-c42d99030964.png)

[2022-03-15 08:45] #358 closed

[2022-03-15 08:47] astha2412 commented on #365
@shr-code complete this issue ASAP! Otherwise it will be assigned to others.

[2022-03-15 08:48] astha2412 commented on #367
@neeluyadav999 complete this issue ASAP!!! Otherwise it will be assigned to @muskan4455 !! So complete it within 2-3 days.

[2022-03-15 11:43] VidhiBhatt01 commented on #429
Cool, thanks for contributing. I will look into it and do the needful

[2022-03-15 11:44] VidhiBhatt01 commented on #429
@arpit456jain

[2022-03-15 13:12] VidhiBhatt01 commented on #387
Issues are assigned on FCFS basis

[2022-03-15 13:13] VidhiBhatt01 commented on #387
@Sreemoyee26 what are the updates regarding the PR?

[2022-03-15 13:14] VidhiBhatt01 commented on #445
Attach some SS/video if possible

[2022-03-15 13:37] aditi10701 commented on #435
![Wifi-loader](https://user-images.githubusercontent.com/98349669/158389476-5f88bd95-69e4-4cb6-991c-6acfa290d569.jpg)

A wiFi loader will be a great option!

[2022-03-15 13:54] Abh1shekSingh commented on #430
Ho gya ma'am Sab kuch settle. And mene, Search bar functionality bhi bana
di.

On Tue, Mar 15, 2022, 6:40 PM VIDHI BHATT ***@***.***> wrote:

[2022-03-15 14:52] #430 closed

[2022-03-15 15:29] Shel-2607 commented on #445
screenshot

![2022-03-15](https://user-images.githubusercontent.com/98200123/158412936-db0945ae-bc86-4935-aa6a-0c81ba874634.png)

https://user-images.githubusercontent.com/98200123/158412998-ebde2199-9fc0-4c41-b42c-38b5c3a91682.mp4

[2022-03-15 16:08] #445 closed

[2022-03-15 16:09] #417 closed

[2022-03-16 07:30] bajajharsha opened #451 "Add hover effect on button"
## Issue Type:

- [x] Feature Request

## **Description**

- Want to add some styling (hover effect) in the button of Animated UI Design.

## **Screenshots**
- There's no hover effect.

![image](https://user-images.githubusercontent.com/85387921/158538439-1f963635-7f0a-4089-8c85-6b435d29acaa.png)

[2022-03-16 08:10] Abh1shekSingh opened #452 "Counter Feature to display current number of projects"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Want to add counter feature to the website, which will show the number of projects displaying on the age at a time.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![unknown](https://user-images.githubusercontent.com/71981463/158545102-e0dba836-500a-47db-a27d-4b82c2ead591.png)

[2022-03-16 08:11] Abh1shekSingh commented on #452
@arpit456jain @VidhiBhatt01  Please assign this issue to me. I ll add this feature

[2022-03-16 09:26] Avik-creator opened #453 "Want to add face Recognition template"
-It will be made using HTML AND CSS

[2022-03-16 09:46] #442 closed

[2022-03-16 09:47] Abhishek786-Kolvekar commented on #442
Will submit another idea without repeating the mistake .

[2022-03-16 11:35] VidhiBhatt01 commented on #422
@Keyurchaniyara

[2022-03-16 15:37] Abhishek786-Kolvekar commented on #435
Can someone assign this issue to me as well?

[2022-03-16 16:05] myhacktech commented on #451
hello ,can i get myself assigned to this issue?

[2022-03-16 16:07] myhacktech commented on #406
hello ,can i get myself assigned to this issue?

[2022-03-16 16:12] connectnitesh opened #454 "Add New Template for list"
Want to Add new Template for list with hover efffect
## **Screenshots**
![image](https://user-images.githubusercontent.com/79007697/158636037-725c77aa-82bc-4a14-b656-98eb137ac644.png)

- If applicable, add screenshots to help explain your problem.

[2022-03-16 16:17] bajajharsha commented on #451
@VidhiBhatt01 Hey, I think I unassigned myself mistakenly. Can you please reassign me?

[2022-03-16 16:38] myhacktech opened #456 "transition required on hovering over the dialing icon"
https://cool-front-end-templates.netlify.app/hotel%20website/
![Screenshot (240)](https://user-images.githubusercontent.com/86517958/158641969-6dca71af-63a8-4dc1-abe9-c73d026c6c70.png)

[2022-03-16 17:30] ayush-sleeping commented on #406
Hey man , My work is 90% completed , I will push it soon .

[2022-03-16 19:15] Sreemoyee26 commented on #387
yes, its almost done. I will do the PR by tomm..

[2022-03-17 02:03] myhacktech commented on #456
hello @arpit456jain can you assign me this task?

[2022-03-17 02:06] myhacktech commented on #406
yeah sure, you carry on

[2022-03-17 03:48] prabhashkumar11 commented on #454
Hi , I am GSSOc participant can you assign this issue to me?

[2022-03-17 10:07] shr-code commented on #365
Yes mam, just give me 2 days more. Sorry for the delay.

[2022-03-17 14:45] Abhishek786-Kolvekar opened #459 "CSS sliders"
Would like to design a slider using HTML, CSS.
Please assign this issue.
Regards

[2022-03-17 15:48] ayush-sleeping commented on #406
@VidhiBhatt01 , checkout the Output ...

## Before Hover :
<br>

![Before hover (1)](https://user-images.githubusercontent.com/76460132/158838773-95b0e195-1b50-4ae3-b83c-faca8d0905ac.png)

## After Hover :
<br>

![After Hover (2)](https://user-images.githubusercontent.com/76460132/158838792-4bb7520a-83ee-4afd-aa63-b49fc3b549d2.png)

[2022-03-17 16:10] tejal-1303 opened #460 "Parallax Effect"
I would like to add a parallax effect code into the website
I am a GSSOC contributor
Please allow me to do so by assigning me this issue

[2022-03-17 17:09] #429 closed

[2022-03-17 18:40] DEEPALI-SUK commented on #459
Please provide the video of the final demo of your work first then we will check that and if that will be up to the mark we will assign you

[2022-03-17 21:49] Sreemoyee26 commented on #387
I have added the PR #461

[2022-03-18 02:58] myhacktech commented on #456
yeah definately

[2022-03-18 03:13] Abhishek786-Kolvekar commented on #459
I have neither started working on the issue nor I am assigned to it. So how can I provide a final demo?
Ref Link: https://www.youtube.com/watch?v=3Eb6FtjkZ_k
I am referring to this.
But it will be totally different.

[2022-03-18 11:27] SujeetYT opened #462 "Animated Hamburger Menu"
Hey @arpit456jain

I've made a prototype of the animated Hamburger menu
I want to make contribution in it please assign this task to me

Tech Stack which I'm using is :
HTML
CSS
JavaScript

https://user-images.githubusercontent.com/56119252/157238898-2f9cdcc5-414e-4b3e-afa9-e356d749ede3.mp4

#462

[2022-03-18 11:45] arpit456jain commented on #452
@Abh1shekSingh
i think u have added this

[2022-03-18 11:47] #404 closed

[2022-03-18 11:48] #387 closed

[2022-03-18 11:49] arpit456jain commented on #415
not required in fact not a issue

[2022-03-18 11:49] #415 closed

[2022-03-18 13:41] Abh1shekSingh commented on #452
This issue is created by me. Because vidhi maam said me to do and add this
feature

On Fri, Mar 18, 2022, 5:15 PM Arpit Jain ***@***.***> wrote:

[2022-03-18 14:17] Shweta-Rani1 commented on #459
Hello
I'm GSSoC 2022 contributor I would like to work on this.
Would you please assign me this issue?

[2022-03-18 15:06] arpit456jain commented on #452
@Abh1shekSingh i think u had added this feature in this repo check again

[2022-03-18 15:16] Abh1shekSingh commented on #452
Nhi counter feature pe toh abhi mene work Krna start hi nhi kiya

On Fri, Mar 18, 2022, 8:37 PM Arpit Jain ***@***.***> wrote:

[2022-03-18 15:24] #453 closed

[2022-03-18 16:34] Avik-creator opened #466 "Want to Add CSS Animation"
## Feature Type:

- Add Earth and Saturn Rotatory Effect using CSS Animation.
- It will be a Fun Project.

[2022-03-18 18:22] arpit456jain commented on #466
@Avik-creator first make the template from ur own and show us the ss or video if we think its up to the make then we will assign u

[2022-03-18 18:33] arpit456jain commented on #459
its already present

[2022-03-18 18:33] #459 closed

[2022-03-19 05:09] SujeetYT commented on #462
Hey @VidhiBhatt01 @DEEPALI-SUK @arpit456jain please assign this task to me 🙂

[2022-03-19 07:36] #456 closed

[2022-03-19 11:52] #451 closed

[2022-03-19 14:10] VidhiBhatt01 commented on #462
I have seen this somewhere, did you raise this issue in any other repo too?

[2022-03-19 14:12] #452 closed

[2022-03-19 14:13] SujeetYT commented on #462
yes that was in Amazing Js Projects, and you said to make pull request in Amazing CSS projects
so I raised the same issue here

[2022-03-19 16:33] Avik-creator commented on #466
<img width="1169" alt="Screenshot 2022-03-19 at 22 01 10" src="https://user-images.githubusercontent.com/77090462/159129791-b01286d6-ded7-4464-9448-9506422037c7.png">
It will be like this.
This will not how the final project will look like.
It will have two different planets and different rotations.
I am doing this by seeing this tutorial.
https://youtu.be/ib8AYFCZtdk?t=16

[2022-03-19 17:52] DEEPALI-SUK opened #471 "Add Project Mentors"
## **Describe the bug**
Add two mentors in the project mentors section.
Here are there Github links-
https://github.com/DEEPALI-SUK
https://github.com/DEEPIKA-SUK

[2022-03-19 17:52] dewanshiPaul opened #472 "some cool background neon and menu css effect"
Want to add some cool css effect.

[2022-03-19 18:09] arpit456jain commented on #472
first make it show us then we can assign u

[2022-03-19 18:11] #462 closed

[2022-03-19 18:12] #367 closed

[2022-03-20 06:57] arpit456jain opened #473 "testing"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-20 06:57] #473 closed

[2022-03-20 08:34] #327 closed

[2022-03-20 08:35] astha2412 commented on #317
@priyanshi-2001 Make a new issue when u r ready!

[2022-03-20 08:35] #317 closed

[2022-03-20 08:36] astha2412 commented on #293
@iamtanya-22 Make a new issue when u r ready!

[2022-03-20 08:36] #293 closed

[2022-03-20 08:41] #454 closed

[2022-03-20 13:02] KhushiRana2003 commented on #281
I am a participant under GSSOC 2022. I would like to work on the issue. Please assign it to me

[2022-03-20 17:18] Vamp-harshit commented on #281
It's already done

[2022-03-21 14:00] Anjuli08 commented on #448
I want to work on this issue

[2022-03-21 14:44] VidhiBhatt01 commented on #472
@dewanshiPaul . Also can you please elaborate on what you want to do?

[2022-03-21 14:49] VidhiBhatt01 commented on #281
@Vamp-harshit is the PR merged for this? If yes then you can close this issue

[2022-03-21 15:05] #281 closed

[2022-03-21 17:16] Piyush-Aman opened #474 "Creative Agency Website Template"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-21 17:23] Piyush-Aman opened #475 "Creative Website Agency"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![image](https://user-images.githubusercontent.com/75135026/159329193-975a39f4-6782-4baa-a995-a62002507583.png)

- If applicable, add screenshots to help explain your problem.

[2022-03-21 17:26] KushagraJain58-cmd commented on #420
/ reopen

[2022-03-21 18:15] dewanshiPaul commented on #472
i will complete it by tomorrow and send screenshot of it

[2022-03-22 12:17] #331 closed

[2022-03-22 14:20] shahdhairya51 opened #476 "Goey footer"
## Issue Type:

- [x] Feature Request

## **Possible solution**

- hey @arpit456jain  i am a GSSOC'22 participant and i wish to contribute by adding a goey footer template. if u feel this may add value to the repository plz assign this issue to me.

[2022-03-22 19:13] dewanshiPaul commented on #472
![Screenshot (26)](https://user-images.githubusercontent.com/92020810/159557780-5e8bb368-910a-4711-8802-cf5c1245cb90.png)
i have attached a screenshot of what i said. Kindly look into it and assign me on it.

[2022-03-23 05:51] astha2412 commented on #472
@dewanshiPaul We have already lots of glassmorphism effects.....but u can try this one!

[2022-03-23 07:49] dewanshiPaul commented on #472
So i can make pr of it right?

[2022-03-23 07:57] dewanshiPaul commented on #472
For glassmorphism, it is a nav bar which is not present

[2022-03-23 08:24] astha2412 commented on #472
Ok, make PR @dewanshiPaul

[2022-03-24 07:28] connectnitesh opened #479 "Want to add clay morphism UI"
## Issue Type:
Want to add clay morphism UI
## **Screenshots**
![image](https://user-images.githubusercontent.com/79007697/161429606-ef9eb171-ab4e-46ab-9ea9-46e73111ed2f.png)

[2022-03-24 11:14] prachi1211 commented on #421
I'm Gssoc22 Contributor. Please reopen this issue and assign it to me.

[2022-03-24 11:25] YatreeLadani commented on #423
Please reopen this issue and assign it to me.

[2022-03-24 16:05] dewanshiPaul commented on #472
I have sent PR of it. https://github.com/arpit456jain/Amazing-Css-Effects/pull/478 is the link to PR. Kindly review it.

[2022-03-25 01:40] iamrahulmahato opened #480 "Want to make a Memory Card Game"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [x] Documentaion

## **Possible solution**

It will be a memory card game with different gems hidden in the different boxes you have to memories the gems and if you able to match the gems with box you will win the game

Stack:
And in order to tick the check box just but x inside them for example - [x] like this. Please delete options that ar

[2022-03-25 06:32] connectnitesh opened #481 "Periodic Table Template Modify"
## Issue Type:

## **Screenshots**
![image](https://user-images.githubusercontent.com/79007697/160066957-2e07ac14-1171-4adc-8806-6535ccf15219.png)

[2022-03-25 06:33] astha2412 commented on #481
@connectnitesh Fill description properly......and fill check boxes like add feature, bug report, etc.

[2022-03-25 06:40] connectnitesh commented on #481
Features Added-
Hover efffect on each element
Add smoth transition on hover of each element
Make UI eye catching
Add element name to each element

Previously it was like this  :
![image](https://user-images.githubusercontent.com/79007697/160067549-1f34870b-ada4-4769-963f-00ebbe49761b.png)

Now it is like this 👍
![image](https://user-images.githubusercontent.com/79007697/160068001-ffadd419-25a5-486

[2022-03-25 07:10] astha2412 commented on #481
![Screenshot (421)_LI](https://user-images.githubusercontent.com/87020129/160071959-6e8a8f2e-2f97-4a49-89d2-6032b09ddb9c.jpg)
Fill your details here

[2022-03-25 10:38] connectnitesh opened #482 "Improve Existing Periodic Table Template"
## Issue Type: Improve Existing Periodic Table Template

- [x] Bug Report
- [x] Feature Request

## **Describe the bug**
Some Element in Periodic Table Missing
Element no 71 Lu - Lutetium is missing
Element no 103  Lr - Lawrencium is missing
Elements name is missing
No hover effect on each element

##**Features Added**
Adding the missing elements
Adding each element name like H - Hydrogen ....
Add

[2022-03-25 10:38] #481 closed

[2022-03-26 04:59] #365 closed

[2022-03-26 11:27] VidhiBhatt01 commented on #422
@Keyurchaniyara any update?

[2022-03-26 11:28] #460 closed

[2022-03-26 11:29] #255 closed

[2022-03-26 11:31] VidhiBhatt01 commented on #474
@Piyush-Aman Fill description properly and add some SS

[2022-03-26 11:31] #474 closed

[2022-03-26 11:32] VidhiBhatt01 commented on #476
Add some SS and elaborate a little more about the effect

[2022-03-26 11:33] VidhiBhatt01 commented on #479
I have seen this somewhere, did you raise this issue in some other repo too?

[2022-03-26 11:34] VidhiBhatt01 commented on #480
Please add some SS or video

[2022-03-26 13:19] iamrahulmahato commented on #480
@VidhiBhatt01 it will be a pokemon memory card game
![pok2](https://user-images.githubusercontent.com/49890655/160241295-9d1aa492-4dba-4969-81b4-5d3959ede0f4.jpg)
![pok1](https://user-images.githubusercontent.com/49890655/160241299-7fa873e8-db72-47bf-8724-2fcfad518551.jpg)

[2022-03-26 13:24] iamrahulmahato commented on #480
@VidhiBhatt01 sorry I got to know I can't use Js in this repo so closing it

[2022-03-26 13:24] #480 closed

[2022-03-26 13:59] connectnitesh commented on #479
No, I haven’t

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: VIDHI ***@***.***>
Sent: 26 March 2022 05:03 PM
To: ***@***.***>
Cc: NITESH ***@***.***>; ***@***.***>
Subject: Re: [arpit456jain/Amazing-Css-Effects] Want to add clay morphism UI (Issue #479)

I have seen this somewhere, did you raise this issue in some other repo too?

—
Reply to this email directly,

[2022-03-26 16:07] shahdhairya51 commented on #476
hey @VidhiBhatt01

[2022-03-26 16:28] VidhiBhatt01 commented on #476
Cool, assigned it to you. Make sure it's responsive  for all screen sizes before raising the PR : )

[2022-03-26 16:31] VidhiBhatt01 commented on #264
Is it completed? Else reopen this when you are ready with the PR.

[2022-03-26 16:31] #264 closed

[2022-03-26 16:31] #261 closed

[2022-03-26 16:31] VidhiBhatt01 commented on #261
Reopen this when you are ready with the PR.

[2022-03-26 16:32] VidhiBhatt01 commented on #239
@harshitab07 are you working on this?

[2022-03-26 16:32] VidhiBhatt01 commented on #266
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:32] #266 closed

[2022-03-26 16:32] VidhiBhatt01 commented on #267
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:32] #267 closed

[2022-03-26 16:33] #272 closed

[2022-03-26 16:33] VidhiBhatt01 commented on #277
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:33] #277 closed

[2022-03-26 16:33] VidhiBhatt01 commented on #282
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:33] #282 closed

[2022-03-26 16:34] #265 closed

[2022-03-26 16:35] VidhiBhatt01 commented on #284
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:35] VidhiBhatt01 commented on #292
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:35] #292 closed

[2022-03-26 16:35] VidhiBhatt01 commented on #322
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:35] #322 closed

[2022-03-26 16:36] #340 closed

[2022-03-26 16:37] VidhiBhatt01 commented on #342
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:37] #342 closed

[2022-03-26 16:37] VidhiBhatt01 commented on #353
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:37] #353 closed

[2022-03-26 16:37] VidhiBhatt01 commented on #370
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:37] #370 closed

[2022-03-26 16:38] VidhiBhatt01 commented on #371
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:38] #371 closed

[2022-03-26 16:38] #385 closed

[2022-03-26 16:39] VidhiBhatt01 commented on #378
Is it completed? If not reopen this when you are ready with the PR.

[2022-03-26 16:39] #378 closed

[2022-03-26 17:16] shahdhairya51 commented on #476
hey @VidhiBhatt01 i have made the pr as requested

[2022-03-26 17:58] DEEPIKA-SUK commented on #402
@krithika2411 Make the PR otherwise we will close this issue.

[2022-03-26 18:00] DEEPIKA-SUK commented on #412
@BabyElias Make the PR otherwise we will close this issue

[2022-03-26 18:08] krithika2411 commented on #402
@DEEPIKA-SUK  sorry for the inconvenience by tomorrow i will send the pr

[2022-03-27 07:11] Ranjana550 commented on #471
Can you please assign this issue to me?

[2022-03-27 07:17] DEEPIKA-SUK commented on #471
@Ranjana550 go ahead!

[2022-03-27 09:15] BabyElias commented on #412
@DEEPIKA-SUK Just give me 2 more days.I was busy with my endsems so couldn't complete.

[2022-03-27 09:44] krithika2411 commented on #402
i have sent the pull request @DEEPIKA-SUK

[2022-03-27 10:22] Avik-creator commented on #466
What are the changes requested ma'am ?
@VidhiBhatt01
Please Clarify so that I could make it.

[2022-03-27 13:33] VidhiBhatt01 commented on #466
None none, I just removed the label. You can go on and work on it

[2022-03-28 07:57] Prikshit-anthal opened #489 "Infinite scrolling should be implemented"
## Issue Type:
- Feature Request

## **Describe the bug**
Your website homepage has too many cards and scroll length is too much. It also is also resource intensive for initial loading.

## **Possible solution**

-You can implement infinite Scrolling. In it only few cards will load first, when we scroll down a little site will load next few cards and the process will go on till end.

[2022-03-28 08:07] Prikshit-anthal commented on #489
assign me this issue, im GSSOC 22 candidate

[2022-03-28 11:15] Rajpreetkaur02 opened #490 "CSS animated button hover effect"
## Issue Type:

- [ ] Bug Report
- [*]  Feature Request
- [ ] Documentaion

## **Describe the bug**

- I want to add animated button with hover effect using CSS, the preview of the same is provided below. kindly assign me.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
-
![buttonpreview1](https:

[2022-03-28 15:54] Rakesh9100 commented on #427
Hello, Can i be assigned this and work on this now since 15 days i.e. 2 weeks over to be assigned to him ?

[2022-03-28 16:06] Rakesh9100 opened #491 "Fix the Typo"
## Issue Type:

- [x] Documentaion

## **Describe the bug**

Fix the Typing Error in Readme.md file.

## **Screenshots**
![1](https://user-images.githubusercontent.com/73993775/160440187-63b591e6-448d-4d01-9353-799158fe5e18.jpg)

## Working as a GSSOC Contributor !!!

[2022-03-28 16:54] #406 closed

[2022-03-28 16:56] #472 closed

[2022-03-28 16:59] arpit456jain commented on #471
#485

[2022-03-28 17:02] #482 closed

[2022-03-28 18:36] DEEPIKA-SUK commented on #491
@Rakesh9100 go ahead.

[2022-03-29 04:13] Abh1shekSingh opened #493 "Will Change Whole UI + Features into the website"
## Issue Type:

- [x] Feature Request

Will Change the UI plus will add features into the website

[2022-03-29 04:14] Abh1shekSingh commented on #493
Assign it to me

[2022-03-29 18:32] VidhiBhatt01 commented on #490
I think we already have this effect

[2022-03-29 18:33] VidhiBhatt01 commented on #489
@arpit456jain

[2022-03-29 18:34] VidhiBhatt01 commented on #422
Reopen this when ready

[2022-03-30 15:31] AsmaIbrahimButt opened #495 "Add an animated UI Design"
## Issue Type:
- [+ ] Feature Request

## **Improvement**
I want to add a animated Ui design temlplate for portfolio using html and css

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-03-31 13:42] #491 closed

[2022-03-31 13:44] #427 closed

[2022-03-31 16:59] DEEPALI-SUK commented on #148
@ishika1501 ?

[2022-03-31 17:00] DEEPALI-SUK commented on #239
@harshitab07 ???

[2022-03-31 17:08] DEEPALI-SUK commented on #435
@aditi10701 any updates?

[2022-03-31 17:24] DEEPALI-SUK commented on #479
@connectnitesh ??

[2022-03-31 17:24] DEEPALI-SUK commented on #479
any updates

[2022-03-31 17:32] connectnitesh commented on #479
Work in progress ,need three days to complete it.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: 31 March 2022 10:55 PM
To: ***@***.***>
Cc: NITESH ***@***.***>; ***@***.***>
Subject: Re: [arpit456jain/Amazing-Css-Effects] Want to add clay morphism UI (Issue #479)

any updates

—
Reply to this email directly, view it on GitHub<https://github.c

[2022-04-01 06:04] itsmohitnamdeo opened #496 "Drinking Water Css Effect"
I am GSSOC'22 contributor
I want to add drinking water project
Please assign me this task
![Drink-Water](https://user-images.githubusercontent.com/85800451/161204653-52cca343-9958-4f3b-90b4-6acee75edfbb.png)

[2022-04-01 08:17] prabhkaur301 opened #499 "Fixing the routes & image preview issue"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Most of the project links are not working on the website and some projects don't have preview images.

## **Screenshots**
![image](https://user-images.githubusercontent.com/57444962/161223685-1833acbe-1fc9-4da5-9721-dbd8d211c51a.png)

Kindly assign this issue to me

[2022-04-01 11:11] VidhiBhatt01 commented on #499
We tried giving the contributors a fixed naming convention but it does not sound practically viable as there are a lot of contributors.

[2022-04-01 11:12] VidhiBhatt01 commented on #239
@Khushi-Mattu are you interested?

[2022-04-01 11:14] VidhiBhatt01 commented on #402
#487

[2022-04-01 11:15] VidhiBhatt01 commented on #402
Make the required changes in PR ASAP

[2022-04-01 11:16] VidhiBhatt01 commented on #435
Reopen this when ready with the PR

[2022-04-01 11:16] #435 closed

[2022-04-01 11:17] VidhiBhatt01 commented on #412
@BabyElias you can reopen this issue when ready with the PR :)

[2022-04-01 11:17] #412 closed

[2022-04-01 11:36] VidhiBhatt01 commented on #479
Cool! 👍

[2022-04-01 12:47] VidhiBhatt01 commented on #495
Elaborate more, add some SS/video if possible

[2022-04-01 13:09] prabhkaur301 commented on #499
Yeah sure :)

[2022-04-01 17:14] Avik-creator opened #500 "Want to add CSS Animation"
It will be a css animation project.
It will be like this but not entirely:-
![IMG_20220401_224231.jpg](https://user-images.githubusercontent.com/77090462/161310859-d1da1e51-823c-4dff-babb-d106c7cd8730.jpg)

[2022-04-01 17:16] Avik-creator opened #501 "Want to Add CSS Animation"
It will be like this:-
![IMG_20220401_224528.jpg](https://user-images.githubusercontent.com/77090462/161311104-5a277956-7813-48e2-91f7-35bad3bef42b.jpg)

[2022-04-02 05:10] #493 closed

[2022-04-02 07:31] maura-dev opened #503 "Fixing all broken links and missing images"
## Issue Type:

- [✔️ ] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe
When you click on a css effect card, it leads to a broken url

## **Possible solution**

I will ensure that all images are targeted and properly displayed and also that the card redirect to the correct url

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-02 07:34] VidhiBhatt01 commented on #503
Hey @maura-dev,  someone else is working on this issue rn so can't assign it to you.

[2022-04-02 07:34] #503 closed

[2022-04-02 07:42] Rakesh9100 opened #504 "Reconfigure the bot"
## Issue Type:

- [x] Bug Report

## **Describe the bug**
The bot is adding the GSSoc22 label when PR is merged or closed.

## **Possible solution**
I would like to reconfigure the bot so that It would add GSSoc22 label when a PR is opened.

[2022-04-02 09:01] Rahul-Kumar-prog commented on #501
hey what should i need to do to work on this issue and can you assign me i would like to work on it

[2022-04-02 10:17] arpit456jain commented on #489
sounds cool @Prikshit-anthal  go ahead but i hope this will not effect searching feature

[2022-04-02 11:51] #148 closed

[2022-04-02 12:00] wre9-tesh commented on #499
@VidhiBhatt01 fixing one line in script.js fixes the link issue for most of the existing templates

[2022-04-02 12:16] VidhiBhatt01 commented on #499
Can you elaborate more on this please? What will you exactly add??

[2022-04-02 12:23] wre9-tesh commented on #499
line 73 of script.js  should be <a href="${project.link}"><button class="btnn">View</button></a>
instead of <a href=${project.link}><button class="btnn">View</button></a>
just  added quotation

[2022-04-02 16:24] Anirban-1490 commented on #500
if it's up for grab then assign me this . i will try

[2022-04-02 16:32] Anirban-1490 commented on #499
; - o

[2022-04-03 11:28] Debdeep1 opened #505 "Claymorphic Form"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2022-04-03 11:29] Debdeep1 commented on #505
I want to work on this issue under GSSoC22.

[2022-04-03 15:55] wre9-tesh opened #508 "Gradient text with hover effect"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- i want to a text with gradient inside it which will glow when it's hovered on.

## **Screenshots**
![gradient text](https://user-images.githubusercontent.com/96977189/161436564-b8405c78-c8c0-46a9-9c9e-726b968a7264.png)

[2022-04-03 15:55] wre9-tesh commented on #508
/assign
i am a gssoc participant ,i want to work on this.

[2022-04-03 16:11] #508 closed

[2022-04-04 02:14] maura-dev opened #510 "Update Readme file"
The naming in the json file is affecting routing of projects created. Proper guidelines on the naming conventions that would prevent link breaking for people adding new projects needs to be added to the readme file

[2022-04-04 06:43] iamrahulmahato opened #511 "CSS loading Animation vers-2"
## Issue Type:

- [x] Feature Request
- [x] Documentaion

## **Describe the bug**

- It will be a cool CSS loading animation

## **Screenshots**

![loading-demo](https://user-images.githubusercontent.com/49890655/161487650-10be38f0-fd9f-42e1-9b95-a28232964242.png)

[2022-04-04 06:44] iamrahulmahato commented on #511
I want to work on this issue under GSSoC22.

[2022-04-04 10:46] #495 closed

[2022-04-04 10:47] VidhiBhatt01 commented on #499
Am not sure if this will work or not, @arpit456jain what do you think?

[2022-04-04 10:49] VidhiBhatt01 commented on #500
@Avik-creator I have seen this somewhere, did you raise it in any other repo?

[2022-04-04 10:50] Avik-creator commented on #500
I haven't seen this in your repos as far as i am concerned. I have raised it ma'am .

[2022-04-04 10:50] Avik-creator commented on #500
@VidhiBhatt01

[2022-04-04 10:51] VidhiBhatt01 commented on #500
okay

[2022-04-04 10:53] VidhiBhatt01 commented on #505
Closing the PR since you raised it without the issue being assigned

[2022-04-04 10:53] VidhiBhatt01 commented on #505
Fill the issue template properly and add some SS or video

[2022-04-04 10:54] VidhiBhatt01 commented on #510
@arpit456jain

[2022-04-04 10:54] arpit456jain commented on #499
@wre9-tesh go ahead and try it

[2022-04-04 10:55] arpit456jain commented on #499
@prabhkaur301 u can work on some other issue for now if he fails to do it then u can work on it

[2022-04-04 10:56] VidhiBhatt01 commented on #499
I think we should let both of them work on this

[2022-04-04 10:57] arpit456jain commented on #499
i have no problem with that if they can discuss with each other make PR separately

[2022-04-04 10:58] #228 closed

[2022-04-04 10:58] VidhiBhatt01 commented on #511
We already have many loading effects

[2022-04-04 10:58] #511 closed

[2022-04-04 10:59] VidhiBhatt01 commented on #499
yes, separate PRs from both of them

[2022-04-04 10:59] arpit456jain commented on #239
@Khushi-Mattu make sure to make PR within 2 days

@khandagalechetna r u still interested ?

[2022-04-04 11:01] khandagalechetna commented on #239
Hey, you can assign it to someone else. Thanks!

[2022-04-04 11:02] arpit456jain commented on #510
yes @maura-dev good idea

can u also look the issue #499  and them because u have done that before

[2022-04-04 11:04] arpit456jain commented on #505
@Debdeep1 currently we are  not accepting new templates sorry for inconvenience

[2022-04-04 11:04] #505 closed

[2022-04-04 11:32] maura-dev commented on #499
For the missing images link, try going to the script.js and removing the image src  “ https://raw.githubusercontent.com/arpit456jain/Amazing-Css-Effects/master/${project.name}/preview.png" and replacing with “./${project.name}/preview.png"
Try locally and see if it works @wre9-tesh

[2022-04-04 11:53] wre9-tesh commented on #499
Didnt worked  @maura-dev

[2022-04-04 12:44] prabhkaur301 commented on #499
Actually the problem is that there is no preview image in folders of projects. So we need to manually add preview.png in those folders

[2022-04-04 12:47] maura-dev commented on #499
You are right, also, some of the project names are not correct like the 3D text effect, the folder is called 3D text

[2022-04-04 12:55] wre9-tesh commented on #499
Also the ones having preview.png aren't displayed properly

[2022-04-04 13:11] maura-dev commented on #499
Thing is the src gets its url from when the preview.png is already uploaded on GitHub, this means you won’t even be able to view locally until it has been merged, that’s why I proceeded to change the url path of the image source then add preview images to those that don’t have

[2022-04-05 10:27] Adhetya opened #516 "Remove horizontal overflow and change layout of cards"
## Issue Type:

- [x] Bug Report

## **Describe the bug**

- A clear and concise description of what the bug is.
- There is horizontal scrolling which does not look good. Also, the cards are not centred and there is lot of wasted space.

## **Possible solution**

- Describe the solution you thought of.
- I plan to use CSS Grid to create a dynamic grid system so that cards automatically arrange the

[2022-04-05 10:28] Adhetya commented on #516
I am a GSSOC 22 contributor. Please assign this issue to me

[2022-04-05 11:55] VincentX33 opened #517 "I wish to work on the Assassins Creed Display Card [Gssoc22]"
## Issue Type:

- [ ] Feature Request

## **Describe the bug**

- Right now, the site has blank links and the description is not accurate. I'd like to add proper description with links as well and make sure the text does not overflow. Also, there are only two cards so the site looks a bit blank, so I'd like to add more cards.

[2022-04-05 14:10] #517 closed

[2022-04-05 14:11] VincentX33 opened #518 "Wish to modify Assassins creed project"
I would like to further develop the assassins creed card display site by adding proper description, and fixing dead links

[2022-04-05 16:57] Avik-creator opened #520 "Want to add glass morphisms."
## Issue Type:
Feature Request Adding

## Want to add:
![IMG_20220405_222349.jpg](https://user-images.githubusercontent.com/77090462/161808954-a01f17b0-2a67-470e-b136-ff3517b16f9a.jpg)

[2022-04-05 17:00] Avik-creator opened #521 "Want to add Glass morphism card"
## Issue Type:
- [ ] Feature Request

Want to add:

![IMG_20220405_223005.jpg](https://user-images.githubusercontent.com/77090462/161809590-e7c395a9-9c63-4b61-b58f-75f3b0411f52.jpg)

[2022-04-05 18:30] VidhiBhatt01 commented on #499
This indeed is a big problem, all 3 of you can split the work and fix it. What say? Everyone will get a level 2 label. Or maybe higher if PA feels so.

@prabhkaur301 @maura-dev @wre9-tesh

[2022-04-05 19:05] Sulagna-Dutta-Roy opened #522 "Animated Coffee Maker"
I will be creating coffee maker using html5, Css.
Please assign me this Issue.

![WhatsApp Image 2022-04-06 at 12 23 17 AM](https://user-images.githubusercontent.com/72568715/161830367-12f76950-3acd-413a-a58d-6c13f868ce4b.jpeg)

[2022-04-05 19:11] #419 closed

[2022-04-05 19:12] DEEPALI-SUK commented on #448
@Sohana4567 Do this issue asap otherwise we will assign it to someone else

[2022-04-05 19:12] DEEPALI-SUK commented on #475
@Piyush-Aman Do this issue asap otherwise we will close this issue

[2022-04-05 19:16] #496 closed

[2022-04-05 19:19] Piyush-Aman commented on #475
Mam I am working on that project tomorrow morning I will try to complete
plz give me 1-2 day I will add that

On Wed, 6 Apr 2022 at 12:42 AM, DEEPALI-SUK ***@***.***>
wrote:

[2022-04-05 19:22] DEEPALI-SUK commented on #516
@Adhetya u have opened this issue in wrong repo

[2022-04-05 19:22] #516 closed

[2022-04-05 19:27] DEEPALI-SUK commented on #520
@Avik-creator ig this is already present in the repo

[2022-04-05 23:48] Adhetya commented on #516
@DEEPALI-SUK, which repository should I create this issue in ?

[2022-04-06 02:38] Avik-creator commented on #520
I see but i haven't found it yet so I made a pr. I will check it again, if found I will close the issue @DEEPALI-SUK

[2022-04-06 02:39] #520 closed

[2022-04-06 02:40] Avik-creator commented on #521
@DEEPALI-SUK @VidhiBhatt01 @DEEPIKA-SUK Anyone will this issue be assigned?

[2022-04-06 03:50] muhammadgalhoum opened #523 "Adding Links for GSSpc'22, hacktober fest 2021 and finally the Demo video link for this repo"
## Issue Type:
**Adding Links for GSSpc'22, hacktober fest 2021 and finally the Demo video link for this repo**
- [ ] Bug Report
- [x] Feature Request
- [ ] Documentation

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem

[2022-04-06 04:18] khandagalechetna commented on #239
Hey @arpit456jain, please assign it to me. I will work on it today itself.

[2022-04-06 04:34] arpit456jain commented on #239
ok @khandagalechetna

[2022-04-06 06:02] naugsss commented on #448
I want to work on this issue, and can work on it on an urgent basis, can you please assign it to me??

[2022-04-06 10:41] muhammadgalhoum commented on #523
Can you assign this issue to me, please? @arpit456jain

[2022-04-06 13:22] Avik-creator commented on #521
@VidhiBhatt01 @arpit456jain any updates regarding assigning?

[2022-04-06 15:01] arpit456jain commented on #521
@Avik-creator re open this issue in last week of April

[2022-04-06 15:01] #521 closed

[2022-04-06 15:02] Avik-creator commented on #521
@arpit456jain ok sir

[2022-04-06 15:11] muhammadgalhoum commented on #523
**Do u need any updates on the Project Mentor's sections?** @arpit456jain

[2022-04-06 17:57] ruchichaurasia24 opened #529 "Providing some of social icons"
Hello , I'm GSSOC'22 contributor
Issue Type:
I would like to add some social icons in index.html file. Can I work on this issue.

[2022-04-07 03:51] #476 closed

[2022-04-07 14:03] #504 closed

[2022-04-07 19:13] VidhiBhatt01 commented on #529
index.html of?

[2022-04-08 02:58] YashBawa commented on #239
Hey , @arpit456jain can u please assign me this task , as i want to work on this issue .

[2022-04-08 11:28] arpit456jain commented on #239
go ahead @YashBawa and make PR asap

[2022-04-08 11:29] #402 closed

[2022-04-08 11:29] arpit456jain commented on #448
ok @naugsss go ahead

[2022-04-08 11:30] #500 closed

[2022-04-08 11:31] arpit456jain commented on #501
@Avik-creator make PR asap

[2022-04-08 11:31] arpit456jain commented on #510
@maura-dev

[2022-04-08 11:33] arpit456jain commented on #529
@ruchichaurasia24

[2022-04-08 11:44] Avik-creator commented on #501
Yes I will make it today as I was busy in college work.

[2022-04-08 11:45] Avik-creator commented on #501
@arpit456jain

[2022-04-08 11:54] Anirban-1490 opened #530 "No items are showing in the website. Infinite loading"
## Issue Type:

- [x] Bug Report

## **Describe the bug**

upon opening the website there is a infinite loading scene and no items are showing in the  website

## **Possible solution**

have to check the JS file for this website

## **Screenshots**

![Opera Snapshot_2022-04-08_172127_amazing-css-effects netlify app](https://user-images.githubusercontent.com/82874704/162430589-2fd9c440-17ca-4dd5-a5

[2022-04-08 13:05] #530 closed

[2022-04-08 14:31] YashBawa commented on #239
Yes for sure , Thank you @arpit456jain for assigning it to me  .

[2022-04-08 16:42] YashBawa commented on #239
Hey, @arpit456jain i made a PR please checkout , Thanks  .

[2022-04-09 12:23] Avik-creator commented on #501
@VidhiBhatt01

[2022-04-09 12:45] SamarthKadam opened #535 "Animation at its best"
So I tried to implement CSS at its best by making this project which is completely built using HTML and CSS You can check it out here
![Screenshot (139)](https://user-images.githubusercontent.com/87573175/162574663-7888f25f-8b44-4290-a3fb-4c4c52979494.png)
Can I add this?

[2022-04-09 13:15] #535 closed

[2022-04-09 20:35] kalashvasaniya opened #536 "CSS Flex gallery Project"
Hey I made CSS Flex gallery Project Which Is Very Good!

This Project is very Helpfull,
I Make This Project With the help of HTML&CSS.

The CSS Code are Available in very well mannered! & Easy to understand!

[2022-04-10 02:52] #479 closed

[2022-04-10 05:32] #501 closed

[2022-04-10 07:17] AmolShelke2 opened #537 "I want to add Double tap to like a CSS Effect image project"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- Hey project Admin I'm a GSSOC participant and I want to add my double-tap to like image CSS effect project to the amazing CSS effects projects I have used javaScript also to count how many likes a user is giving and it will add the likes to the counting variable I have used CSS animations to create this project it is my second contr

[2022-04-10 09:21] StillAbeginnerr opened #538 "sorting visualizer"
I am gssoc participant .

I want to make a website which shows visual animation of bubble sort algorithm

tech stack - html , css and javascript.

[2022-04-10 14:55] #523 closed

[2022-04-11 11:10] maura-dev opened #539 "Broken links and missing preview images"
## Issue Type:

- [x] Bug Report

## **Describe the bug**

Some preview images are missing and those present are not positioned properly, the link to each of the templates has broken links making it inaccessible

## **Possible solution**
-Add preview images to those templates that don't have
-Properly link the project cards to their url
-Position the preview images properly!

## **Screenshots**

-

[2022-04-11 11:11] maura-dev commented on #539
@arpit456jain

[2022-04-11 11:44] arpit456jain commented on #539
@maura-dev make sure to fix all of them and check if any template is missing from json file

[2022-04-11 11:44] maura-dev commented on #539
Sure thing

[2022-04-11 14:50] #529 closed

[2022-04-11 14:50] VidhiBhatt01 commented on #536
Add some SS or videos

[2022-04-11 14:51] VidhiBhatt01 commented on #537
This is interesting!

[2022-04-11 14:53] VidhiBhatt01 commented on #510
Reopen this issue when ready

[2022-04-11 14:53] #510 closed

[2022-04-11 14:53] VidhiBhatt01 commented on #448
@naugsss are you working on it?

[2022-04-11 14:54] VidhiBhatt01 commented on #239
Is that PR merged?

[2022-04-11 14:55] AmolShelke2 commented on #537
Yes it is please can you add the level label on my PR when i will create
the PR

On Mon, Apr 11, 2022, 8:21 PM VIDHI BHATT ***@***.***> wrote:

[2022-04-11 17:40] arpit456jain commented on #537
@AmolShelke2 yes

[2022-04-11 17:41] #539 closed

[2022-04-11 17:45] #537 closed

[2022-04-11 17:47] arpit456jain commented on #239
@YashBawa which PR mention its number here or in the description of PR

[2022-04-11 17:51] #522 closed

[2022-04-11 17:53] #499 closed

[2022-04-11 18:44] kalashvasaniya commented on #536
Sure!

https://user-images.githubusercontent.com/88212870/162807959-34375ecd-ea69-4da8-83a7-466a84ff3d2d.mov

[2022-04-11 18:57] maura-dev opened #542 "Update Readme file"
Update the read me to direct contributors on how to upload new folders or templates

[2022-04-11 19:05] StillAbeginnerr commented on #538
Thank you @VidhiBhatt01 for assigning me.

[2022-04-11 20:39] maura-dev commented on #542
@arpit456jain can you assign to me?

[2022-04-12 20:02] wre9-tesh opened #543 "animated andriod"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe **

- i made an animated android with gradient background  with  html and css.

## **Screenshots**

![image](https://user-images.githubusercontent.com/96977189/163044031-bdc42686-9a75-4968-a577-6bb5c10e95a3.png)

[2022-04-12 20:03] wre9-tesh commented on #543
https://user-images.githubusercontent.com/96977189/163044270-4a63e897-6ac2-46bd-9151-e348149a8236.mp4

[2022-04-12 20:03] #543 closed

[2022-04-13 02:51] Sukriti-m opened #544 "Animated Bulb"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Possible solution**

- I will make an animated bulb which will turn ON and OFF on the click of a button.

I'd be grateful if you could assign this task to me under GSSoC22.
@arpit456jain

[2022-04-14 05:26] DEEPIKA-SUK commented on #544
@Sukriti-m animated bulb already exists.

[2022-04-14 05:26] #544 closed

[2022-04-14 05:26] DEEPIKA-SUK commented on #536
@kalashvasaniya currently we are not assigning any new project.

[2022-04-14 05:26] #536 closed

[2022-04-14 06:27] kalashvasaniya commented on #536
MAke this last one pls.

[2022-04-15 12:15] pushpanjali-10 commented on #448
I want to work on this issue. can you please assign it to me??

[2022-04-15 14:09] naugsss commented on #448
I'm busy so I've unassigned my self, @arpit456jain, you can assign other contributors!

[2022-04-15 16:29] StillAbeginnerr commented on #538
Work update - I am doing it but very slowly due to clg exams and also i have decided to not take any reference from tutorials and making it on my own.

[2022-04-16 09:38] Kuldeepmishra28 opened #546 "Want to improve the design of the navigation bar ."
More attractive design with functionality and user experience can be added to the navigation bar and hamburger option.
Looking for the opportunity to work on it.

[2022-04-16 09:47] Kuldeepmishra28 commented on #546
@arpit456jain  Sir can this issue get assigned to me?

[2022-04-16 10:07] adi7yashah commented on #239
I am a GSSOC participant , I want to make changes please assign it to  me

[2022-04-16 15:33] ishashukla183 opened #547 "improve website ui"
## Issue Type:

- [ ] Feature Request

Add a bit of color contrast between navigation bar and body and improve the card design by adding a pop of color

[2022-04-16 15:44] Abh1shekSingh opened #548 "Theme Matched Footer"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

Theme Matched Footer

[2022-04-16 17:00] ruchichaurasia24 opened #549 "Want to change content"
Issue type:Want to change content. Can I work on this issue.

[2022-04-18 14:19] Akshata-Gunapache opened #551 "Arrange the social media icons properly"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentation

## **Describe the bug**

-The social media icons in the footer are not arranged properly.

## **Possible solution**

- Adjust the position of the icons.

## **Screenshots**
<b>Before:</b>
![Screenshot 2022-04-18 194643](https://user-images.githubusercontent.com/96786500/163821311-e0ebf123-648e-4bb8-836d-dbbb50588048.png)

[2022-04-18 14:20] Akshata-Gunapache commented on #551
/assign

[2022-04-18 16:57] Shatakshi-Choudhary commented on #551
Hey! Is this issue still open? If yes, then Please assign this to me under GSSoC22. I will try to resolve the issue.

[2022-04-18 17:14] Akshata-Gunapache commented on #551
@Shatakshi-Choudhary This issue has been created by me and I can work on it once it has been assigned to me. You can work on something else.🙂

[2022-04-19 05:28] VidhiBhatt01 commented on #448
Assigned to you @Anjuli08

[2022-04-19 05:28] #239 closed

[2022-04-19 05:29] VidhiBhatt01 commented on #546
We are happy with the current UI 🙃

[2022-04-19 05:29] #546 closed

[2022-04-19 05:30] VidhiBhatt01 commented on #547
We are happy with the current UI 🙃

[2022-04-19 05:30] #547 closed

[2022-04-19 05:30] VidhiBhatt01 commented on #549
You cannot raise the PR before issue is assigned!!!

[2022-04-19 17:02] dee-ksha opened #553 "Adding CSS text animation"
## Issue Type:
- [ ] Feature Request

Hii, I am GSSoc'22 participant. I wish to add a pure css text animation to this amazing repository. Here is the preview of the same:

https://user-images.githubusercontent.com/77492052/164056679-890114df-ff1a-4a86-ac91-a43da0749bd6.mp4

Please allow me to contribute to it by assigning this issue to me.

[2022-04-19 18:34] #542 closed

[2022-04-19 18:34] #551 closed

[2022-04-19 18:41] #518 closed

[2022-04-19 18:42] #475 closed

[2022-04-19 18:43] #548 closed

[2022-04-19 18:43] #549 closed

[2022-04-19 18:44] arpit456jain commented on #553
@dee-ksha

[2022-04-19 21:07] ajit-sharmaGH opened #554 "want to add a stylish card with out of stock logo"
- Hi gssoc team, I am Ajit Sharma a Gssoc'22 participant want to add a css card which includes a `out of stock`  logo as text in stylish manner. It will show `notify me when available` button as a notification when someone hover on it.
- tech add: `css` and `html`
-  please note that this is going to be my first open source contribution, hope i am trying my best, please let me know if i am missing

[2022-04-20 18:31] #554 closed

[2022-04-21 08:34] mahiiverse1 opened #556 "Add a new text animation effect"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the feature**

- I would like to add a css text animation effect that looks like a text is being slashed cut open and then back to original.

## **Possible solution**

- Pure HTML and CSS will be used, the text will show on the screen as an animation where the text gets slashed cut open and then back to its or

[2022-04-21 13:53] Akshata-Gunapache opened #557 "Expanding Search Bar Animation"
A beautiful search-bar animation built using HTML and CSS.

[2022-04-21 13:54] Akshata-Gunapache commented on #557
I am GSSoC'22 participant . Please assign me this issue. Thank You.

[2022-04-21 15:05] Kumar-Ankit56 opened #558 "Basket ball jump animation."
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my CSS animation project as basket ball jump animation.

The idea behind this project
While playing football I suddenly got the idea that I'm throwing a ball on the ground and by the next moment, it touches my hand, don't I turned it into a CSS  animation.

How does it work
while loading the webpage on the br

[2022-04-21 15:21] Kumar-Ankit56 opened #559 "Square-shimmer-loading-effect"
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my CSS animation project as Square shimmer loading animation.

The idea behind this project:
Nowadays our day starts with the internet and ends with the internet means we are spending lots of time digitally so we often experience buffering problems whenever there is weak bandwidth on the net or while sometime

[2022-04-21 15:27] Kumar-Ankit56 opened #560 "Scale-up-and-down-animation"
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my CSS animation project as Square shimmer loading animation.

The idea behind this project:
Nowadays our day starts with the internet and ends with the internet means we are spending lots of time digitally so we often experience buffering problems whenever there is weak bandwidth on the net or while sometime

[2022-04-21 15:33] Kumar-Ankit56 opened #561 "Emoji-with-rolling-eyes-animaiton"
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my CSS animation project as Square shimmer loading animation.

The idea behind this project:
There is a specific idea behind this CSS animation I'm just looking to play with emoji in real view

How does it work :
while loading the webpage on the browser in the middle of the webpage there will be yellow color

[2022-04-22 16:36] VidhiBhatt01 commented on #557
Add some SS or video

[2022-04-22 16:37] VidhiBhatt01 commented on #558
Nice one : ) I hope what you are saying is true and you have made it on your own!

[2022-04-22 16:38] VidhiBhatt01 commented on #559
We have a similar effect ig, please cross-check once. If not, you can go on..

[2022-04-22 16:43] VidhiBhatt01 commented on #561
Can we make it more interesting and fun? Like on one side we will have two emojis (girl and boy saying hi) and on other this side we will have this smiley. Whenever user clicks on girl or boy, a bubble will appear telling "Hey Smiley!" and then the smiley will roll eyes. 😂 What say?

[2022-04-22 16:52] Akshata-Gunapache commented on #557
![Screenshot 2022-04-22 222102](https://user-images.githubusercontent.com/96786500/164759397-38f8c8d4-0cb4-4677-ada3-03ae26c95ec5.png)

On hovering :
![Screenshot 2022-04-22 222125](https://user-images.githubusercontent.com/96786500/164759386-a90b8a6b-4363-4d7d-8abd-08ab97c7a45e.png)

[2022-04-23 12:13] Kumar-Ankit56 commented on #561
@VidhiBhatt01 that's awesome idea, definitely I will work on it  but for not in this issue, as this should be a another animation if I'm not wrong will it be possible to create a sperate issue or please refer me a name for your ideology project 😀.

[2022-04-23 12:15] Kumar-Ankit56 commented on #559
@VidhiBhatt01 no there is no similar loading effect I have cross checked😊

[2022-04-23 12:18] Kumar-Ankit56 commented on #558
@VidhiBhatt01 honestly I will not bring myself cool by saying I have designed this myself.
Rather I will be felt pleased to say I have done by my self by taking from online references.

[2022-04-23 16:57] VidhiBhatt01 commented on #561
No need for other issue, add it in this only! Keep the name same only ie. Rolling eye animation

[2022-04-24 02:15] yash-25log commented on #561
🤣🤣

[2022-04-24 09:29] prachi1211 opened #565 "Image Accordion Effect"
I'm a Gssoc22 Contributor. I would like to Make an Image Accordion effect on the website. This contains several numbers of image. This specific effect expands the particular image by clicking on it. Please assign me this task.
Thank you!

[2022-04-24 09:33] Keyurchaniyara commented on #422
It is done, please reopen it.

[2022-04-24 09:39] YatreeLadani opened #566 "Morphing Cube animation"
## Issue Type:

- [x] new task

Hello!

I am a GSSOC'22 contributor. I would like to perform this task. This is the cube that gives a 3D effect and the cube is converted into circular flash cards. Kindly assign me this task.

Thank you

[2022-04-24 10:45] AmolShelke2 opened #567 "I want to add a jumping square animation project to the current repository."
## Issue Type:

- [x] Feature Request

## **Possible solution**

- Hey project admin I'm a GSSOC participant and I want to add a jumping square animation project created with HTML and CSS with some animations please go through my issue and assign me this issue to work on I'm adding the demo of my project below please give it a look.

## **Screenshots**

https://user-images.githubusercontent.com/95

[2022-04-24 13:02] stutimohta20 opened #568 "Animation emoji document"
## Issue Type:

- [ ] Bug Report
- [ ] Feature Request
- [x] Documentaion

## **Describe the bug**

- It will move as it does in facebook  website

## **Possible solution**

- Adding the Animation emoji (wow , used in facebook website)

## **Screenshots**

![image](https://user-images.githubusercontent.com/84969358/165301720-e39ba30c-d09f-4dad-9d1d-b6e044a7a7dc.png)

[2022-04-24 13:03] stutimohta20 commented on #568
Please Assign this to me

[2022-04-25 04:56] Anjalih11 commented on #557
i want to collaborate with this task i am well in styling this kind so i request to give me a chance

[2022-04-25 05:02] Anjalih11 commented on #448
i want to work on this please assign me to this issue.

[2022-04-25 05:16] Akshata-Gunapache commented on #557
@Anjalih11 I have already made a PR . Maybe you can work on something else!

[2022-04-25 06:21] stutimohta20 commented on #568
@lhardt Please Assign this to me.

[2022-04-25 16:18] stutimohta20 commented on #568
@arpit456jain Please assign this to me

[2022-04-26 12:14] VidhiBhatt01 commented on #568
Add SS if possible

[2022-04-26 12:40] stutimohta20 commented on #568
@VidhiBhatt01 Please check

[2022-04-26 13:34] aishwaryas15 opened #569 "Amazing Working Analog and Digital Clock Design using Html CSS & Javascript"
## Issue Type:
- [ ] Feature Request

A working and responsive analog-digital clock created using HTML, CSS and Js.

Please assign this issue under GSSOC

[2022-04-26 13:36] aishwaryas15 opened #570 "CSS Radial Menu"
Animated Circular Navigation Menu Magic Indicator using Html CSS & Javascript
Please assign the above issue under GSSOC

[2022-04-26 19:27] Sukriti-m opened #571 "Basketball Bounce Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Basketball Bounce Animation

## **Possible solution**

- I will make a Basketball Bounce Animation using HTML and CSS.

I'd be grateful if you could assign this task to me under GSSoC22.
@arpit456jain

[2022-04-27 13:52] VidhiBhatt01 commented on #569
We already have many clocks

[2022-04-27 13:52] #569 closed

[2022-04-28 13:43] nouraan-ahmed opened #573 "Type Writer Effect"
## Issue Type:

- [x] Feature Request

## **Describe the bug**

- Create a Type writer effect

## **Screenshots**
![img](https://user-images.githubusercontent.com/52378608/165766073-c76ca687-98d9-4c4a-852a-ef75618c24f2.png)

[2022-04-28 13:44] nouraan-ahmed commented on #573
@arpit456jain , please assign me

[2022-04-28 14:47] #553 closed

[2022-04-29 15:10] VidhiBhatt01 commented on #573
Do enhance the UI

[2022-04-30 08:52] DragonUncaged opened #581 "Loading Animation ( Assign Me)"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A LOading

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![preview](https://user-images.githubusercontent.com/72241207/166098847-c2fe27e6-df6d-4d78-80bb-d6d736a41a40.gif)

[2022-04-30 08:56] DragonUncaged opened #582 "Globe Animation Effect"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A loading Animation

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![image](https://user-images.githubusercontent.com/72241207/166097987-f168bd8e-f01d-43a7-b183-96be203458de.png)

[2022-04-30 09:17] DragonUncaged opened #584 "SnowMan Animation (Assign Me)"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A SnowMan Animation
## **Possible solution**

- a fun interactive background of a snowman

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![preview1](https://user-images.githubusercontent.com/72241207/166103388-7d8d05ad-e9ad-425b-9836-42ba6ef51367.gif)

[2022-04-30 18:12] #573 closed

[2022-05-01 05:59] #567 closed

[2022-05-01 06:04] tarunbisht-24 opened #589 "Wavy Text Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- This is a text animation that has a wavy animation and each individual character has a bouncy effect with shadows and all. This will work well in any section where you want to add some really cool effects to a block of text.

## **Possible solution**

-  I will make a wavy text animation by using

[2022-05-01 09:29] #559 closed

[2022-05-01 10:09] DragonUncaged commented on #581
#Assign Me

[2022-05-01 10:10] DragonUncaged commented on #582
#Assign Me

[2022-05-01 10:10] DragonUncaged commented on #584
#Assign Me

[2022-05-02 00:18] DragonUncaged opened #591 "Ball Drop Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Aniamtion

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![preview](https://user-images.githubusercontent.com/72241207/166170743-1284f8f0-2517-45f0-b91c-1893f5ba51ad.gif)

[2022-05-02 00:23] DragonUncaged opened #592 "Bee Moving"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Website calculates the medical Insurance bill

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![preview](https://user-images.githubusercontent.com/72241207/166170956-96f9d18c-d6f9-4a4c-bb9b-feef3816a0f3.gif)

[2022-05-02 00:34] DragonUncaged opened #593 "Particle Background"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Pure css Used to make this Particle BG Effect

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![image](https://user-images.githubusercontent.com/72241207/166171355-f7b7f408-a826-4308-8ad5-27a4c192f362.png)

[2022-05-02 01:03] DragonUncaged opened #594 "Line Segment Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Website calculates the medical Insurance bill

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![preview](https://user-images.githubusercontent.com/72241207/166172788-72e97592-45ff-41d1-8fe7-21c211c44233.gif)

[2022-05-02 06:42] #566 closed

[2022-05-02 06:47] #571 closed

[2022-05-02 10:39] DEEPALI-SUK commented on #538
@StillAbeginnerr any updates?

[2022-05-02 10:41] #558 closed

[2022-05-02 10:44] DEEPALI-SUK commented on #561
@Kumar-Ankit56 any updates?

[2022-05-02 10:44] DEEPALI-SUK commented on #570
@aishwaryas15 any updates?

[2022-05-02 10:52] DEEPALI-SUK commented on #582
@DragonUncaged instead Instead of making separate loading animations, could you please combine them in one issue? Like all loading animations on one page and for that one issue?

[2022-05-02 14:19] aishwaryas15 commented on #570
yes I was going to push the code today

[2022-05-02 14:38] aaryahjolia opened #597 "Adding favicon in other pages"
## Issue Type:

- [x] Bug Report

## **Describe the bug**

The favicon is there in main page (cool front end templates page) but not in other pages, So I want to add the favicon in all the pages of website so it will look good.

## **Possible solution**

Adding favicon to all the html pages so the website will look more good.

## **Screenshots**

![GSSoC](https://user-images.githubusercontent.com/

[2022-05-03 08:10] DragonUncaged commented on #582
1st all are different loading animation. so they should be counted as different pr.
If i add all the then all in one then it will not be as responsive.and the colour will not look good

[2022-05-03 08:19] DragonUncaged opened #599 "Calendar"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Scrollable calendar

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- ![image](https://user-images.githubusercontent.com/72241207/166173004-5e1dc6f0-633b-4c7f-a2b4-d46967a7adfa.png)

[2022-05-03 08:21] DragonUncaged opened #600 "Slider to change time"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![preview](https://user-images.githubusercontent.com/72241207/166171962-0dbefce0-44b1-4f4c-ad68-936291f5a16f.gif)

[2022-05-03 10:40] DragonUncaged commented on #584
Closed Previous because it was not assigned to me and i opened the PR
Assign me

[2022-05-03 10:50] VidhiBhatt01 commented on #582
We already have something similar

[2022-05-03 10:50] #582 closed

[2022-05-03 10:53] VidhiBhatt01 commented on #592
There are multiple issues from your side, we hope you will make them on your own and not copy-paste.  Also, if you have raised this issue in any other repo then please close this as adding the same project in multiple repos comes under plagiarism

[2022-05-03 10:54] DragonUncaged commented on #582
@VidhiBhatt01
I did search the entire repo before the making i couldn't find it
But okay

[2022-05-03 11:20] DragonUncaged opened #601 "Animation"
# I think you [closed my PR](https://github.com/arpit456jain/Amazing-Css-Effects/issues/582). because I made the [Issue](https://github.com/arpit456jain/Amazing-Js-Projects/issues/577) In the _**Amazing JS**_ But That was _**Closed There**_ Because this **Animation Projects** belong here.
## There are no similar project in this repo
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Docu

[2022-05-03 17:49] DragonUncaged opened #611 "Wave Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A wave animated
-
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

![preview](https://user-images.githubusercontent.com/72241207/166510304-7d1e6b42-c3ac-4f79-9ac5-ebe44ce680e5.gif)

[2022-05-03 17:53] DragonUncaged opened #612 "Pac Mac Animation"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Pac Mac Animation

## **Possible solution**

## **Screenshots**

![preview](https://user-images.githubusercontent.com/72241207/166511299-877c0899-5170-4d40-ab73-39aa2503f866.gif)

[2022-05-04 06:02] Jayanth-MKV opened #613 "Templates not rendering"
## Issue Type:

- [x] Bug Report
- [ ] Feature Request
- [ ] Documentaion

## **Describe the bug**

- Templates not rendering.

## **Possible solution**

- Problem in json needs to be corrected

[2022-05-04 06:04] Jayanth-MKV commented on #613
\assign

[2022-05-04 10:22] DEEPALI-SUK commented on #613
@Jayanth-MKV describe the bug properly

[2022-05-04 14:08] RAHULBAWA777 opened #615 "CSS object manipulator"
In this project, we have an object whose size shape position, and color we can change dynamically in real-time dom.
used the concept of dom manipulation

[2022-05-04 15:42] Anirban-1490 opened #616 "Perspective 3D Card"
## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentation

## **Describe the bug**

A very "creative" 3D perspective Card

## **Screenshots**

![Opera Snapshot_2022-05-04_211125_codepen io](https://user-images.githubusercontent.com/82874704/166718793-b5a8344f-abf6-40d9-a87f-d3548f08fc7f.png)

[2022-05-04 16:03] Jayanth-MKV commented on #613
Actually the templates are not rendering due to a problem in the json files

[2022-05-04 17:44] Jayanth-MKV commented on #613
Actually the templates are not rendering due to an issue in the json files that needs to be corrected

[2022-05-04 18:29] VidhiBhatt01 commented on #615
This is not the correct repo for this issue. If you are gonna use js raise this in js repo else in frontend templates repo

[2022-05-04 18:29] #615 closed

[2022-05-04 18:31] VidhiBhatt01 commented on #538
Reopen this when ready

[2022-05-04 18:31] #538 closed

[2022-05-04 18:31] #557 closed

[2022-05-04 18:41] Anirban-1490 commented on #616
yes can be but this one is only on css that's why i created it here

[2022-05-04 18:48] #581 closed

[2022-05-04 18:48] #560 closed

[2022-05-04 18:49] #597 closed

[2022-05-04 19:06] #568 closed

[2022-05-04 19:42] DragonUncaged opened #617 "Pure CSS Battery Layout"
## [pr closed in cool frontend](https://github.com/arpit456jain/Cool-Front-End-Templates/issues/746)

## Issue Type:

- [ ] Bug Report
- [x] Feature Request
- [ ] Documentaion

## **Describe the bug**

- A Pure CSS Battery Layout

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- ![image](https://user-images.githubusercontent.com/72241207/166504102-b0c4a2c6-f

[2022-05-05 18:28] #565 closed

[2022-05-05 18:32] DEEPALI-SUK commented on #616
Ok go ahead

[2022-05-06 04:50] #611 closed

[2022-05-06 04:54] #612 closed

[2022-05-06 06:35] #591 closed

[2022-05-06 06:36] #592 closed

[2022-05-06 06:42] #594 closed

[2022-05-06 06:51] #600 closed

[2022-05-06 06:52] #601 closed

[2022-05-06 07:02] #584 closed

[2022-05-06 11:01] #561 closed, assigned to Kumar-Ankit56

[2022-05-06 14:01] Akshata-Gunapache opened #622 "Liquid Loader"
A beautiful animation effect using pure HTML and CSS.

[2022-05-06 14:04] Akshata-Gunapache commented on #622
I am a GSSoC 2022 participant . I would like to work on this issue and would be glad if you assign it to me. Thank You.🙂

[2022-05-06 14:52] Akshata-Gunapache opened #623 "Cursor Effect"
Custom cursor effect for the navbar of a website designed using simple HTML ,CSS and Javascript.
![Screenshot 2022-05-06 202043](https://user-images.githubusercontent.com/96786500/167157940-78afa06a-7773-4d7c-886d-d62e51a8f367.png)

[2022-05-06 14:53] Akshata-Gunapache commented on #623
I can work on this issue . Please assign it to me. Thank You

[2022-05-06 16:49] kalashvasaniya opened #624 "Animated Earth project"
Hey I made Animated Earth project Which Is Very Good!

This Project is very Helpfull,
I Make This Project With the help of HTML, CSS & JavaScript,

The CSS & JavaScript Code are Available in very well mannered! & Easy to understand!

[2022-05-06 19:54] Kumar-Ankit56 opened #625 "Clip-path-animation"
Hii I'm a GSSoc22 contributor and I'm looking to make a pr request in this repo regarding my CSS animation project as clip-path content

The idea behind this project:
Whenever we need to put more info in less place we just use this technique

How does it work :
while loading the webpage on the browser in the right corner there will be an info icon when you will hover on it it will open content hid